# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [30]:
# DATA_FOLDER = 'c:Users/marcadentsandra/Documents/Cours_EPFL/Master/Master_3/Applied_data/repo_tuto/Data'
#   -->  NON 
DATA_FOLDER = 'Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

In [3]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_context('notebook')

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [4]:
from datetime import datetime
from datetime import date, time
import glob

In [6]:
# Import Data

DATA_FOLDER='Data'
countries=pd.Series(['guinea_data','liberia_data','sl_data'])
frame = pd.DataFrame()
list_ = []
d={}
    
for c in range(3):
    print(c)
    list_=[]
    path=DATA_FOLDER+'/ebola/'+countries[c]
    allFiles = glob.glob(path + "/*.csv")
    for file_ in allFiles:
        df = pd.read_csv(file_,index_col=None, header=0)
        list_.append(df)
    frame=pd.concat(list_)
    frame=treat_data(frame)
    d[c]=frame

#frame = pd.concat(list_)

# changer pd.MultiIndex.from_tuples(clumns)
# date.split('/').reverse().concatenate(-) puis map(dates)
# mettre pays (hopitaux), description en indexe et date en colonnes

0

NameError: name 'treat_data' is not defined

In [7]:
d[0].head()

KeyError: 0

In [8]:
d[0] = treat_data(d[0])

dfs = [d[0], d[1], d[2]]

df_combined = pd.concat(dfs,keys=['HEADER TITLE{}'.format(i) for i in range(1, len(dfs) + 1)],axis=0)

df_combined.head(100)

NameError: name 'treat_data' is not defined

In [9]:
d = pd.DataFrame(d.items())
#d[0] = pd.MultiIndex.from_product([d.columns, ['0']])
#d[1] = pd.MultiIndex.from_product([d.columns, ['1']])
#d[2] = pd.MultiIndex.from_product([d.columns, ['2']])
dat = pd.concat([d[0],d[1],d[2]])
#dat.head()

ValueError: DataFrame constructor not properly called!

In [10]:
datas = pd.Series(['guinea_data','liberia_data','sl_data'], index=['Guinea','Liberia','Sierra Leone'])
datas.index[1]
datas['Guinea']

'guinea_data'

In [12]:
DATA_FOLDER='Data'
#countries=pd.Series(['guinea_data','liberia_data','sl_data'])
frame = pd.DataFrame()
tot_frame = pd.DataFrame()
list_ = []
c='liberia_data'
path=DATA_FOLDER+'/ebola/'+c
allFiles = glob.glob(path + "/*.csv")
for file_ in allFiles:
        df = pd.read_csv(file_,index_col=None, header=0)
        list_.append(df)
        
#pd.to_numeric(list_, errors='coerce')
frame = pd.concat(list_)

In [13]:
frame.head()

,Bomi County,Bong County,Date,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,National,Nimba County,River Gee County,RiverCess County,Sinoe County,Unnamed: 18,Variable
0,NaN,NaN,10/3/2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Specimens collected
1,NaN,NaN,10/3/2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Specimens pending for testing
2,NaN,NaN,10/3/2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total specimens tested
3,0.0,4.0,10/3/2014,0.0,0.0,0.0,0.0,0.0,3.0,3.0,NaN,27.0,38.0,1.0,0.0,0.0,0.0,NaN,Newly reported deaths
4,30.0,14.0,10/3/2014,0.0,21.0,6.0,0.0,5.0,191.0,41.0,0.0,630.0,992.0,49.0,0.0,3.0,2.0,NaN,Total death/s in confirmed cases

In [14]:
df=df.dropna(how='all',axis=0)
df.index.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False], dtype=bool)

In [15]:
v=['2014-6-22']
v.astype(str)
#v = pd.to_datetime(v)

AttributeError: 'list' object has no attribute 'astype'

In [16]:
df = frame

# Standardize data


df=df.rename(columns = {'date':'Date'})
df=df.rename(columns = {'variable':'Description'})
df=df.rename(columns = {'Variable':'Description'})
df=df.dropna(how='all')
#df = df.loc[df['Description'].isnull()==False]
newv=[]

if c != 'liberia_data':
    df['Date'] = pd.to_datetime(df['Date'])
else:
    for v in df['Date'].values:
        val = v.split('/')
        val = [val[2],val[0],val[1]]
        newv.append('-'.join(val))
    #for i in range(len(newv)):
        #df['Date']= df.set_value(i,'Date',newv[i])
    #df['Date'] = pd.to_datetime(df['Date'])
    new = pd.DataFrame()
    new = concat(newv)
    new.astype(str)
    df = df.drop(df['Date'])    
    df = df.assign(Date = new)    
    #df['Date'] = pd.to_datetime(df['Date'])    


df=df.replace(['-','Nr','NR'],np.nan)
df['Description'] = df['Description'].map({'new_confirmed': 'New Cases',
                                           'death_confirmed': 'New Deaths',
                                           'Total death/s in confirmed cases':'New Deaths',
                                          'New case/s (confirmed)':'New Cases', 
                                           'Total deaths in confirmed cases':'New Deaths',
                                           'New Cases of confirmed':'New Cases'})
df = df.set_index(['Date','Description'])

df = df.loc[df.index.get_level_values('Description').isnull()==False]
df.head(200)

NameError: name 'concat' is not defined

In [17]:
df = frame

# Standardize data
df=df.rename(columns = {'date':'Date'})
df=df.rename(columns = {'variable':'Description'})
df=df.rename(columns = {'Variable':'Description'})
df=df.replace(['-','Nr','NR'],np.nan)
df = df.set_index(['Date','Description'])
df = df.loc[df.index.get_level_values('Description').isnull()==False]
df = df.loc[df.index.get_level_values('Description').str.contains('New|new|Newly|Deaths|deaths|death')]
df = df.loc[df.index.get_level_values('Description').str.contains('Total|total|Totals|totals|cum|Cum|cummulative|contacts')==False]
df = df.astype(float)
Total = pd.DataFrame(df.sum(axis=1))
Total.head(100)

                                             0
Date       Description
10/3/2014  Newly reported deaths          76.0
           New admissions                172.0
           Newly Reported Cases in HCW     2.0
           Newly Reported deaths in HCW    0.0
           New Case/s (Suspected)         58.0
           New Case/s (Probable)          54.0
           New case/s (confirmed)          4.0
9/17/2014  Newly reported deaths          78.0
           New admissions                 98.0
           Newly Reported Cases in HCW     0.0
           Newly Reported deaths in HCW    0.0
           New Case/s (Suspected)        102.0
           New Case/s (Probable)          62.0
           New case/s (confirmed)         22.0
9/4/2014   Newly reported deaths          72.0
           New admissions                 48.0
           Newly Reported Cases in HCW     6.0
           Newly Reported deaths in HCW    0.0
           New Case/s (Suspected)         28.0
           New Case/s (Probable)          52.0
           New case/s (confirmed)         24.0
10/25/2014 Newly reported deaths          48.0
           New admissions                  NaN
           Newly Reported Cases in HCW     0.0
           Newly Reported deaths in HCW    0.0
           New Case/s (Suspected)         43.0
           New Case/s (Probable)          30.0
           New case/s (confirmed)          2.0
9/10/2014  Newly reported deaths          92.0
           New admissions                 10.0
...                                        ...
11/4/2014  Newly reported deaths          48.0
           New admissions                 56.0
           Newly Reported Cases in HCW     0.0
           Newly Reported deaths in HCW    0.0
           New Case/s (Suspected)         46.0
           New Case/s (Probable)          23.0
           New case/s (confirmed)          NaN
6/29/2014  Newly reported deaths           0.0
           New admissions                  6.0
           Newly Reported Cases in HCW     2.0
           Newly Reported deaths in HCW    0.0
           New Case/s (Suspected)          0.0
           New Case/s (Probable)           0.0
           New case/s (confirmed)          4.0
10/7/2014  Newly reported deaths          62.0
           New admissions                 80.0
           Newly Reported Cases in HCW     0.0
           Newly Reported deaths in HCW    0.0
           New Case/s (Suspected)         48.0
           New Case/s (Probable)          60.0
           New case/s (confirmed)          4.0
10/22/2014 Newly reported deaths          38.0
           New admissions                  NaN
           Newly Reported Cases in HCW     0.0
           Newly Reported deaths in HCW    0.0
           New Case/s (Suspected)         40.0
           New Case/s (Probable)          20.0
           New case/s (confirmed)          0.0
10/21/2014 Newly reported deaths          46.0
           New admissions                 96.0

[100 rows x 1 columns]

In [18]:
averages = pd.DataFrame()
groups = Total.groupby(Total.index.get_level_values('Description'))
averages = groups.agg(np.mean)
averages.columns = ['Daily Average in year 2014 at '+ c]
averages.head()

                             Daily Average in year 2014 at liberia_data
Description
New Case/s (Probable)                                        243.418367
New Case/s (Suspected)                                       411.448980
New admissions                                                49.761905
New case/s (confirmed)                                       415.905882
Newly Reported Cases in HCW                                    1.919540

In [19]:
def treat_data(df):
    df=df.rename(columns = {'date':'Date'})
    df=df.rename(columns = {'variable':'Description'})
    df=df.rename(columns = {'Variable':'Description'})
    df=df.replace(['-','Nr','NR'],np.nan)
    df = df.set_index(['Date','Description'])
    df = df.loc[df.index.get_level_values('Description').isnull()==False]
    
    return df

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [ ]:
"""
1. We need to load the first MID1.xls as DataFrame and use its name as indexes and the name of the document as column
2. Load the 8 next MID@I.xls and join them with the first DataFrame (some more line indexes will be added to the DataFrame too)
3. Load the metadata from the last file, and map the column name [MID1,MID2,...,MID9] to a MultiIndex: [(MID1,EC,NAN),(MID2,NEC1,tissue),...]
4. Change all the NaN created by the join operation to the tag 'unknown'
"""

"helper function to load one excel of the name MID@i"
def getMID(i):
    return pd.read_excel(DATA_FOLDER+"/microbiome/MID"+str(i)+".xls",index_col=0, sheetname='Sheet 1', header=None, names = ['MID'+str(i)])

"load all the MID.xls and join them together"
a = getMID(1)
for i in range(2,10):
    m = getMID(i)
    a = a.join(m, how='outer')
    
"split the full name of the bacterie into multiIndex"
#a.index = pd.MultiIndex.from_tuples([tuple(k.split(" ")) for k,v in a.iterrows()]) 

"load the metadata from metadata.xls"
metadata = pd.read_excel(DATA_FOLDER+"/microbiome/metadata.xls",index_col=0, sheetname='Sheet1')

"create a list of tuples from each line of the metadata"
columns = list(metadata.itertuples(index=True))

"change the column name to its real tuple name in a MultiIndex"
a.columns=pd.MultiIndex.from_tuples(columns)

"check the uniqueness of the indexes"
print("all indexes are uniques =",a.index.is_unique)

"remplace NaN to unknown"
a = a.fillna('unknown')

"print the dataFrame"
a

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here