In [1]:
#essential imports
import pandas as pd
import numpy as np

import datetime as dt
import time

# Strict JSON conversion
import json 
import gzip 
 
startyear=1990
startmonth=1

cps = 4
# how many month before the death of the artist are used as feature 
nbMonthBeforeDeath = 4

datapath = 'DATA/review_filtered/'
f_sbj_reviews = datapath+'movie_reviews_matched_'+str(cps)+'cps.csv'
f_ctl_reviews = datapath+'movie_reviews_matched_'+str(cps)+'cps_ctrls.csv'

# Load data

reviews related to subject (=dead) artists

In [2]:
sbj_reviews = pd.read_csv(f_sbj_reviews).drop('Unnamed: 0',axis=1)
sbj_reviews = sbj_reviews.rename(columns={'reviewTime' : 'strReviewTime', 'actor name' : 'artist name', 
                                          'musician name' : 'artist name', 'name' : 'artist name'})
sbj_reviews.head(3)

,index,asin,strReviewTime,overall,helpful,summary,reviewText,actor name,death date
0,308659,0792840461,2006-04-07,4.0,"[1, 3]",The orginal,The Original and the best-not much to say read...,jack weston,1996-05-03
1,308660,0792840461,2013-03-24,5.0,"[0, 0]",Steve McQueen invented cool,This was a great movie Steve McQueen invented ...,jack weston,1996-05-03
2,308661,0792840461,2014-04-05,4.0,"[1, 1]",Where The Dough Is,"Everybody knows banks, whether in storefronts,...",jack weston,1996-05-03

reviews related to control (=dead) artists

In [3]:
ctl_reviews = pd.read_csv(f_ctl_reviews).drop('Unnamed: 0',axis=1)
ctl_reviews = ctl_reviews.rename(columns={'reviewTime' : 'strReviewTime', 'actor name' : 'artist name', 
                                          'musician name' : 'artist name', 'name' : 'artist name'}})
ctl_reviews.head(3)

,index,asin,strReviewTime,overall,helpful,summary,reviewText,actor name
0,827321,630327417X,2009-10-15,5.0,"[0, 1]",Great Movie,Nothing bad to say. Dvd came quickly and in gr...,michael hynson
1,827322,630327417X,2000-09-16,5.0,"[0, 0]",endless summer,its just to good for words!,michael hynson
2,827323,630327417X,2005-03-03,1.0,"[5, 58]",A very disappointed lover of documentaries,I feel obligated to warn you-as I wish I was w...,michael hynson

# Pre-process data 

- transform string dates into formats that are easier for us to work with
- keep on the side the 'death date' <-> 'artist name relation

Convert dates to year and extract and set aside actor<-> deathdates

In [5]:
# returns as an int the month of the date passed as argument. Apply to a serie !
def strdateToMonth(date) : 
    year = int(str(date)[:4])
    month = int(str(date)[5:7])
    assert(month <= 12 and month >= 1)
    return (month - startmonth) + (year - startyear)*12 

# returns as an int the year of the date passed as argument. Apply to a serie !
def strdateToYear(date) : 
    return int(str(date)[:4])

# SUBJECTS
sbj_reviews['reviewMonth'] = sbj_reviews['strReviewTime'].apply(strdateToMonth)
sbj_reviews['reviewYear'] = sbj_reviews['strReviewTime'].apply(strdateToYear)
sbj_reviews['reviewTime'] = pd.to_datetime(sbj_reviews['strReviewTime'])
sbj_reviews['death month'] = sbj_reviews['death date'].apply(strdateToMonth)
sbj_reviews['death year'] = sbj_reviews['death date'].apply(strdateToYear)
sbj_reviews['death date'] = pd.to_datetime(sbj_reviews['death date'])

# CONTROLS
ctl_reviews['reviewMonth'] = ctl_reviews['strReviewTime'].apply(strdateToMonth)
ctl_reviews['reviewYear'] = ctl_reviews['strReviewTime'].apply(strdateToYear)
ctl_reviews['reviewTime'] = pd.to_datetime(ctl_reviews['strReviewTime'])

Set aside the 'death date' <-> 'artist name relation

In [6]:
deathdates = subjects_actors.groupby(['actor name','death date', 'death year', 'death month']).count()\
                            .reset_index()[['actor name', 'death date', 'death year', 'death month']]
deathdates.head()

          actor name death date  death year  death month
0  adriana caselotti 1997-01-19        1997           84
1    adrienne shelly 2006-11-01        2006          202
2         al martino 2009-10-13        2009          237
3      alain bashung 2009-03-14        2009          230
4         alan bates 2003-12-27        2003          167

Extract controls names

In [7]:
#TODO : remove
#ctrl_names = list(set(controls_actors['actor name']))\
#sbj_names = list(deathdates['actor name'])

# filtering

### 'mentionned' Boolean

We want to distinguish which artists are frequently mentionned in their reviews; i.e, those that are popular, as opposed to those that just appear to play/sing with some other, more popular artist.
We add the boolean ['mentionned'] that tells if the artist listed with the review is mentionnned in the text of the review.

In [8]:
thresh_pop = 1

def mentionsName(row) : 
    if type(row['reviewText']) is str :
        names = row['actor name'].split(' ')
        text =  row['reviewText'].lower()
        # can mention only name or surname
        #return row['actor name'] in row['reviewText']
        for name in names : 
            if name in text : 
                return True
        return False
    else : return False

In [10]:
## Treat subjects
##
sbj_reviews['mentionned'] = sbj_reviews.apply(mentionsName, axis=1)
sbj_reviews.shape, sbj_reviews[sbj_reviews['mentionned']==True].shape

((597276, 15), (130234, 15))

In [12]:
## Treat controls
##
ctl_reviews['mentionned'] = ctl_reviews.apply(mentionsName, axis=1)
ctl_reviews.shape, ctl_reviews[controls_actors['mentionned']==True].shape

((285071, 12), (42178, 12))

Not necessarily important for later : the list of the most-mentionned subjects and controls

In [26]:
## Not necessarily needed, count of mentions are still in the reviews dataframe
##
sbj_popular = sbj_reviews[sbj_reviews['mentionned']==True]
sbj_popular = sbj_popular.groupby('actor name').count()['asin']
print(len(sbj_names), " reduced to", sbj_popular.shape)
sbj_popular.sort_values(ascending=False)[:5]

501  reduced to (460,)

actor name
james stewart      4135
paul newman        3119
charlton heston    3031
gregory peck       2618
marlon brando      2592
Name: asin, dtype: int64

In [13]:
## Not necessarily needed, count of mentions are still in the reviews dataframe
##
ctl_popular = ctl_reviews[ctl_reviews['mentionned']==True]
ctl_popular = ctl_popular.groupby('actor name').count()['asin']
print(len(ctrl_names), " reduced to", ctl_popular.shape)
ctl_popular.sort_values(ascending=False)[:5]

2419  reduced to (1215,)

actor name
matt damon            6017
steve martin          3266
tyler perry           2870
ian anderson          1213
laurence fishburne    1198
liev schreiber        1060
michelle williams     1058
marc m                 896
maggie gyllenhaal      867
robert taylor          749
Name: asin, dtype: int64

### Date filtering

We're only interested in the reviews of subjects that died in a recent time period because amazon's popularity is recent, so we'll have much more amazon data after year 2000. Therefore, we will only keep the reviews for which the subject died within a 2003-2014 time period, otherwise, the artist died too long ago.

TODO : RE-CHECK THIS, THIS WAS 1996-2013 ORIGINALLY
TODO : the filtered variable was bound to 'subjects in time' and not reused later on

In [14]:
start_year = 2003
end_year = 2014

print('original size : ', sbj_reviews.shape)
sbj_reviews = sbj_reviews[(sbj_reviews['death year']>=start) \
                        & (sbj_reviews['death year']<=end)]
print('filtered size : ', sbj_reviews.shape)
sbj_reviews.head(3)

original size :  (597276, 15)
filtered size :  (597276, 15)

,index,asin,strReviewTime,overall,helpful,summary,reviewText,actor name,death date,reviewMonth,reviewYear,reviewTime,death month,death year,mentionned
0,308659,0792840461,2006-04-07,4.0,"[1, 3]",The orginal,The Original and the best-not much to say read...,jack weston,1996-05-03,195,2006,2006-04-07,76,1996,False
1,308660,0792840461,2013-03-24,5.0,"[0, 0]",Steve McQueen invented cool,This was a great movie Steve McQueen invented ...,jack weston,1996-05-03,278,2013,2013-03-24,76,1996,False
2,308661,0792840461,2014-04-05,4.0,"[1, 1]",Where The Dough Is,"Everybody knows banks, whether in storefronts,...",jack weston,1996-05-03,291,2014,2014-04-05,76,1996,False

# Extract features used to match controls with subjects

We will use as features the number of review per month for a 4 months before the death of the subject. We obtain a features vector that we will try to match best between control and subjects.

Since the controls didn't die however, and since the amount of amazon reviews is generated increasingly fast as time passses, we will this feature for every control, for every subject we try to match it to, using the subject's death date as reference point and using the control's number of reviews one month before, two months before, and so on.

In [15]:
# relative count of months before death (-1, -2, ...)
relMonthBeforeDeath = [-i for i in range(1, nbMonthBeforeDeath+1)]
# string matching the feature's column in the subject's dataframe
relFeaturesStr = { i : 'revs'+str(i) for i in relMonthBeforeDeath}

In [16]:
# SUBJECTS COUNTS BY MONTH
sbj_reviews_monthly = sbj_reviews.groupby(['actor name','reviewMonth']).count()


''' returns the number of reviews for the subject in row, 'relMonthNb' months before his death month
'''
def getreview_month_subjects(row, relMonthNb) : 
    actor = row['actor name']
    deathMonth = int(row['death month'])
    try : 
        val = sbj_reviews_monthly.loc[actor, int(deathMonth+relMonthNb)]['asin']
        return int(val)
    ## Both exceptions can happen when the indexing keys are 
    ## not in the index == when there were no review for the actor at the given month
    except TypeError :
        #print('key (', actor, ', '+str(deathMonth+monthNb)+') returned typeError')
        return 0
    except KeyError :
        #print('key (', actor, ', ', deathMonth, ') found no match in the index')
        return 0
    

    
sbj_monthly_feats = pd.DataFrame(deathdates[['actor name', 'death month']])
for i in relMonthBeforeDeath :
    sbj_monthly_feats[relFeaturesStr[i]] = sbj_monthly_feats\
                                    .apply(lambda row : getreview_month_subjects(row, i), axis=1)

## Compute the norm of the feature
##
def feature_norm(row) : 
    feature = [row[relFeaturesStr[i]] for i in relMonthBeforeDeath]
    return np.linalg.norm(feature)

sbj_monthly_feats['featureNorm'] = sbj_monthly_feats.apply(feature_norm, axis=1)
sbj_monthly_feats['death date'] = deathdates['death date']
        
sbj_monthly_feats.sort_values(by='featureNorm', ascending=False).head()

,actor name,death month,revs-1,revs-2,revs-3,revs-4,featureNorm,death date
357,mickey rooney,291,149,156,236,181,367.415296,2014-04-06
228,james garner,294,151,178,169,196,348.513988,2014-07-19
140,eli wallach,293,120,138,114,148,261.426854,2014-06-24
389,philip seymour hoffman,289,119,106,68,77,189.604852,2014-02-02
288,karen black,283,74,111,121,39,184.279679,2013-08-08

# Matching

Prepare the control's dataframe for matching, and create a function that computes the features for subjects

In [ ]:
ctl_reviews_sorted = ctl_reviews.groupby(['actor name','reviewMonth'])\
                                .count()['asin']\
                                .to_frame().reset_index()
        
ctl_reviews_sorted.sort_values(by=['actor name', 'asin'], ascending=False).head()

In [20]:
''' returns the number of reviews for the control in row, 
    looking in 'musiciansDataframe', 'relMonthNb' months before 'deathMonth'
'''
def getreview_month_controls(row, monthNb, musiciansDataframe, deathMonth) : 
    actor = row['actor name']
    try : 
        val = musiciansDataframe.loc[actor, int(deathMonth+monthNb)]['asin']
        return int(val)
    ## Both exceptions can happen when the indexing keys are 
    ## not in the index == when there were no review for the actor at the given month
    except TypeError :
        #print('key (', actor, ', '+str(deathMonth+monthNb)+') returned typeError')
        return 0
    except KeyError :
        #print('key (', actor, ', ', deathMonth, ') found no match in the index')
        return 0

In [21]:
subjects_monthly_feats.head()
controls_revs.set_index(['actor name','reviewMonth']).loc['adrian holmes']
controls_revs.groupby('actor name').count().reset_index().head()

               actor name  reviewMonth  asin
0           aaron chayrez            1     1
1              aaron kwok           60    60
2            aarti chopra            2     2
3  abdul salaam el razzac            5     5
4              adam clark           19    19

### Matching algorithm : 
   
   
Match is a greedy function, that given a threshold and a subject, will iterate over the controls, compare the features, and if the difference is below a given threshold, call it a match. If the threshold cannot be met, it returns that it couldn't match.
We call this function over all the subjects, increasing the threshold until a match can be found.

In [22]:
# helper to obtain a value after indexing on a dataframe
def unwrap(subjectStuff) : 
    return subjectStuff.tolist()[0]

def match(artistname, threshold, ctrl_revs) : 

    # extract the useful features for the subject 
    subject = sbj_monthly_feats[sbj_monthly_feats['artist name'] == artistname]
    deathmonth = int(subject['death month'])
    sbjname = unwrap(subject['artist name'])
    feature = [unwrap(subject[relFeaturesStr[i]]) for i in relMonthBeforeDeath]
    
    #print(sbj_actor)
    #print('feature : ', feature)
    
    for control in ctrl_revs.groupby('artist name').count().reset_index().iterrows() : 
        
        # iterrows returns tuple (0, row)
        idx = control[0]
        control = control[1]
        
        # Compute feature
        ctrl_feature = [getreview_month_controls(control, i, 
                                        ctrl_revs.set_index(['artist name', 'reviewMonth']), 
                                        deathMonth=deathmonth) \
                        for i in relMonthBeforeDeath]
        
        #print('   ctrl_feature : ', ctrl_feature )
        
        diff = np.linalg.norm(np.array(feature) - np.array(ctrl_feature))
        
        #print('    diff : ', diff)
        
        if diff <= threshold : 
            matched_name = control['artist name']
            matched_count = ctrl_feature
            
            #ctrl_revs = ctrl_revs[ctrl_revs['actor name'].isin([matched_name])==False]
            ctrl_revs = ctrl_revs[ctrl_revs['artist name']!=matched_name]
            
            print('    ', sbjname, ' matched with ', matched_name)
            print('    ', feature, ' ~ ' , ctrl_feature)
            return matched_name, ctrl_feature, ctrl_revs
    
    print('1 iteration completed over all controls')
    return 0, 0, ctrl_revs

In [25]:
ctrl_revs = ctl_reviews_sorted.copy()
sbj_monthly_feats_sorted = sbj_monthly_feats.sort_values(by='featureNorm', ascending=False)

sbj_list = []
sbj_feat_list = []
sbj_death_list = []
ctl_list = []
ctl_feat_list = []

for idx, subject_name in enumerate(sbj_monthly_feats_sorted['artist name']):
    
    if idx%50 == 0: 
        print(idx, " subjects out of ", len(sbj_monthly_feats['artist name']))
    
    # extract the feature for the subject and use it to set the threshold
    subject = sbj_monthly_feats_sorted[sbj_monthly_feats_sorted['artist name'] == subject_name]
    feature = [unwrap(subject[relFeaturesStr[i]]) for i in relMonthBeforeDeath]
    
    sbjname = unwrap(subject['artist name'])
    print(sbjname, '-', feature)
    
    featureNorm = subject['featureNorm']
    thr = int(8 + 0.12*featureNorm)
    mtch = 0

    while mtch == 0:
        
        if thr > 50 and thr < 60  : 
            print(sbjname+' reached threshold ', thr)
        if thr > 1000 and thr < 1250  : 
            print(sbjname+' reached threshold ', thr)
        
        name, ctrl_feature, ctrl_revs_ = match(sbjname,thr,ctrl_revs)
        ctrl_revs = ctrl_revs_.sample(frac=1) 
        
        
        if name != 0:
            
            #print(subject_name+' matched with '+name)
            
            sbjDeathDate = unwrap(sbj_actor['death date'])
            
            sbj_list.append(sbjname)
            sbj_feat_list.append(feature)
            sbj_death_list.append(sbjDeathDate)
            ctl_list.append(name)
            ctl_feat_list.append(ctrl_feature)
            
            mtch += 1
            
        
        thr += int(0.3*thr + 1)
        print('  thr increased: ', thr)
            
print('DONE')

2419 501
0  subjects out of  500
mickey rooney - [149, 156, 236, 181]
  thr :  79
     mickey rooney  matched with  liev schreiber
     [149, 156, 236, 181]  ~  [158, 201, 257, 241]
james garner - [151, 178, 169, 196]
  thr :  74
     james garner  matched with  laurence fishburne
     [151, 178, 169, 196]  ~  [144, 155, 144, 208]
eli wallach - [120, 138, 114, 148]
  thr :  59
eli wallach reached threshold  59
     eli wallach  matched with  ben miles
     [120, 138, 114, 148]  ~  [94, 102, 120, 138]
philip seymour hoffman - [119, 106, 68, 77]
  thr :  46
     philip seymour hoffman  matched with  cheech marin
     [119, 106, 68, 77]  ~  [100, 95, 43, 54]
karen black - [74, 111, 121, 39]
  thr :  46
1 iteration completed over all controls
  thr :  70
     karen black  matched with  albert brooks
     [74, 111, 121, 39]  ~  [91, 98, 72, 76]
bob hoskins - [97, 88, 95, 87]
  thr :  46
     bob hoskins  matched with  maggie gyllenhaal
     [97, 88, 95, 87]  ~  [90, 71, 90, 50]
julie harris - [101, 69, 72, 53]
  thr :  40
     julie harris  matched with  bob denver
     [101, 69, 72, 53]  ~  [95, 63, 81, 75]
paul walker - [46, 51, 68, 104]
  thr :  38
     paul walker  matched with  megan charpentier
     [46, 51, 68, 104]  ~  [19, 39, 63, 83]
eileen brennan - [73, 78, 53, 76]
  thr :  37
     eileen brennan  matched with  emily watson
     [73, 78, 53, 76]  ~  [68, 89, 84, 92]
james gandolfini - [68, 58, 72, 80]
  thr :  37
     james gandolfini  matched with  james macarthur
     [68, 58, 72, 80]  ~  [54, 48, 64, 57]
martha hyer - [59, 55, 68, 71]
  thr :  35
     martha hyer  matched with  billy west
     [59, 55, 68, 71]  ~  [38, 45, 48, 82]
shirley temple - [100, 58, 29, 37]
  thr :  34
     shirley temple  matched with  catherine dent
     [100, 58, 29, 37]  ~  [119, 50, 33, 61]
jean stapleton - [57, 62, 73, 51]
  thr :  34
     jean stapleton  matched with  chloe grace moretz
     [57, 62, 73, 51]  ~  [63, 87, 93, 55]
harold ramis - [63, 60, 39, 48]
  thr :  31
     harold ramis  matched with  david hewlett
     [63, 60, 39, 48]  ~  [65, 41, 20, 37]
james rebhorn - [47, 67, 60, 27]
  thr :  31
     james rebhorn  matched with  beverly todd
     [47, 67, 60, 27]  ~  [43, 49, 40, 16]
eleanor parker - [62, 42, 48, 50]
  thr :  31
     eleanor parker  matched with  james arness
     [62, 42, 48, 50]  ~  [41, 62, 45, 53]
charlton heston - [48, 59, 38, 36]
  thr :  29
1 iteration completed over all controls
  thr :  44
     charlton heston  matched with  chiwetel ejiofor
     [48, 59, 38, 36]  ~  [45, 41, 15, 12]
sydney pollack - [39, 62, 49, 23]
  thr :  28
1 iteration completed over all controls
  thr :  43
1 iteration completed over all controls
  thr :  65
     sydney pollack  matched with  felicia farr
     [39, 62, 49, 23]  ~  [22, 16, 26, 22]
jason robards - [11, 29, 59, 51]
  thr :  28
1 iteration completed over all controls
  thr :  43
1 iteration completed over all controls
  thr :  65
     jason robards  matched with  matt damon
     [11, 29, 59, 51]  ~  [57, 38, 54, 83]
michael clarke duncan - [10, 71, 41, 10]
  thr :  26
1 iteration completed over all controls
  thr :  40
1 iteration completed over all controls
  thr :  61
     michael clarke duncan  matched with  ian anderson
     [10, 71, 41, 10]  ~  [14, 23, 18, 12]
sid caesar - [67, 42, 15, 18]
  thr :  26
     sid caesar  matched with  frédéric pierrot
     [67, 42, 15, 18]  ~  [63, 51, 26, 1]
dennis farina - [35, 27, 38, 54]
  thr :  26
     dennis farina  matched with  alex hopkins
     [35, 27, 38, 54]  ~  [11, 30, 41, 49]
casey kasem - [32, 36, 38, 39]
  thr :  25
     casey kasem  matched with  brian austin
     [32, 36, 38, 39]  ~  [40, 35, 44, 47]
ernest borgnine - [34, 44, 25, 25]
  thr :  23
1 iteration completed over all controls
  thr :  35
     ernest borgnine  matched with  jeff bennett
     [34, 44, 25, 25]  ~  [16, 19, 18, 26]
patrick mcgoohan - [40, 44, 16, 17]
  thr :  23
1 iteration completed over all controls
  thr :  35
     patrick mcgoohan  matched with  mathieu amalric
     [40, 44, 16, 17]  ~  [15, 50, 4, 5]
paul newman - [28, 34, 30, 24]
  thr :  23
1 iteration completed over all controls
  thr :  35
     paul newman  matched with  dina meyer
     [28, 34, 30, 24]  ~  [22, 25, 10, 10]
ruby dee - [27, 22, 33, 29]
  thr :  22
     ruby dee  matched with  brian krause
     [27, 22, 33, 29]  ~  [23, 24, 31, 37]
charles durning - [41, 27, 19, 19]
  thr :  22
     charles durning  matched with  gérard depardieu
     [41, 27, 19, 19]  ~  [39, 14, 6, 10]
joan fontaine - [24, 35, 16, 31]
  thr :  22
     joan fontaine  matched with  charles drake
     [24, 35, 16, 31]  ~  [17, 24, 13, 16]
patrick swayze - [15, 20, 28, 38]
  thr :  22
     patrick swayze  matched with  michelle williams
     [15, 20, 28, 38]  ~  [9, 12, 16, 23]
don knotts - [18, 19, 40, 21]
  thr :  22
     don knotts  matched with  steve martin
     [18, 19, 40, 21]  ~  [28, 25, 28, 23]
dennis hopper - [14, 22, 34, 26]
  thr :  22
     dennis hopper  matched with  kirk acevedo
     [14, 22, 34, 26]  ~  [17, 27, 18, 20]
maximilian schell - [31, 23, 22, 12]
  thr :  20
     maximilian schell  matched with  andrea anders
     [31, 23, 22, 12]  ~  [26, 13, 6, 13]
david carradine - [16, 17, 34, 20]
  thr :  20
     david carradine  matched with  omar epps
     [16, 17, 34, 20]  ~  [4, 6, 23, 22]
tony curtis - [16, 27, 22, 24]
  thr :  20
     tony curtis  matched with  jennifer cody
     [16, 27, 22, 24]  ~  [9, 14, 15, 21]
leslie nielsen - [35, 20, 11, 12]
  thr :  20
1 iteration completed over all controls
  thr :  31
     leslie nielsen  matched with  clarence nash
     [35, 20, 11, 12]  ~  [9, 6, 3, 9]
cory monteith - [14, 24, 21, 26]
  thr :  20
     cory monteith  matched with  anna lee
     [14, 24, 21, 26]  ~  [11, 20, 21, 11]
peter boyle - [25, 13, 15, 25]
  thr :  19
     peter boyle  matched with  rob schneider
     [25, 13, 15, 25]  ~  [15, 4, 9, 22]
richard griffiths - [22, 26, 20, 9]
  thr :  19
     richard griffiths  matched with  andrea libman
     [22, 26, 20, 9]  ~  [10, 13, 15, 6]
richard harris - [34, 16, 10, 10]
  thr :  19
     richard harris  matched with  don calfa
     [34, 16, 10, 10]  ~  [17, 11, 6, 6]
peter falk - [16, 14, 19, 25]
  thr :  19
     peter falk  matched with  tyler perry
     [16, 14, 19, 25]  ~  [10, 16, 14, 17]
janet leigh - [16, 16, 27, 11]
  thr :  19
     janet leigh  matched with  andy berman
     [16, 16, 27, 11]  ~  [12, 14, 9, 14]
marlon brando - [20, 14, 17, 21]
  thr :  19
     marlon brando  matched with  emmanuelle chriqui
     [20, 14, 17, 21]  ~  [10, 8, 17, 12]
ed lauter - [13, 16, 26, 14]
  thr :  19
     ed lauter  matched with  alisa wilson
     [13, 16, 26, 14]  ~  [7, 7, 11, 12]
james avery - [22, 17, 14, 16]
  thr :  19
     james avery  matched with  alison elliott
     [22, 17, 14, 16]  ~  [10, 11, 11, 18]
karl malden - [20, 19, 11, 18]
  thr :  19
     karl malden  matched with  dick sargent
     [20, 19, 11, 18]  ~  [5, 12, 11, 10]
cliff robertson - [20, 15, 15, 17]
  thr :  19
     cliff robertson  matched with  dong-gun jang
     [20, 15, 15, 17]  ~  [11, 13, 8, 3]
richard farnsworth - [14, 19, 18, 16]
  thr :  19
     richard farnsworth  matched with  chisa yokoyama
     [14, 19, 18, 16]  ~  [5, 13, 13, 10]
george carlin - [5, 18, 22, 17]
  thr :  19
     george carlin  matched with  diane ladd
     [5, 18, 22, 17]  ~  [7, 7, 10, 9]
james coburn - [8, 9, 20, 23]
  thr :  17
     james coburn  matched with  hui lou chen
     [8, 9, 20, 23]  ~  [7, 4, 25, 14]
50  subjects out of  500
john forsythe - [5, 17, 13, 23]
  thr :  17
     john forsythe  matched with  brian marshall
     [5, 17, 13, 23]  ~  [5, 8, 13, 9]
jack warden - [9, 7, 16, 25]
  thr :  17
     jack warden  matched with  bruce weitz
     [9, 7, 16, 25]  ~  [7, 4, 3, 20]
bob clark - [3, 7, 22, 20]
  thr :  17
     bob clark  matched with  jonathan chase
     [3, 7, 22, 20]  ~  [2, 8, 10, 9]
suzanne pleshette - [16, 21, 12, 9]
  thr :  17
     suzanne pleshette  matched with  joe anderson
     [16, 21, 12, 9]  ~  [10, 15, 13, 10]
walter matthau - [18, 16, 14, 8]
  thr :  17
     walter matthau  matched with  mark mckinney
     [18, 16, 14, 8]  ~  [9, 6, 12, 10]
heath ledger - [18, 12, 11, 15]
  thr :  17

     heath ledger  matched with  irene dunne
     [18, 12, 11, 15]  ~  [14, 3, 4, 4]
elizabeth taylor - [10, 21, 11, 11]
  thr :  17
     elizabeth taylor  matched with  elise gulan
     [10, 21, 11, 11]  ~  [7, 15, 7, 8]
deborah kerr - [7, 10, 15, 20]
  thr :  17
     deborah kerr  matched with  jason douglas
     [7, 10, 15, 20]  ~  [5, 8, 7, 17]
gregory peck - [13, 7, 14, 18]
  thr :  17
     gregory peck  matched with  kip pardue
     [13, 7, 14, 18]  ~  [7, 9, 11, 12]
andy griffith - [13, 14, 10, 16]
  thr :  17
     andy griffith  matched with  jean marsh
     [13, 14, 10, 16]  ~  [4, 6, 7, 12]
victor wong - [11, 7, 17, 16]
  thr :  17
     victor wong  matched with  bill capizzi
     [11, 7, 17, 16]  ~  [12, 14, 22, 2]
jack lemmon - [13, 8, 7, 19]
  thr :  17
     jack lemmon  matched with  masaya onosaka
     [13, 8, 7, 19]  ~  [4, 12, 8, 8]
mary kay bergman - [25, 4, 0, 0]
  thr :  17
     mary kay bergman  matched with  michael dorn
     [25, 4, 0, 0]  ~  [11, 2, 2, 1]
larry hagman - [12, 16, 11, 10]
  thr :  16
     larry hagman  matched with  christopher atkins
     [12, 16, 11, 10]  ~  [8, 9, 14, 5]
ossie davis - [15, 13, 8, 12]
  thr :  16
     ossie davis  matched with  arnold stang
     [15, 13, 8, 12]  ~  [10, 6, 2, 3]
jim kelly - [7, 14, 8, 16]
  thr :  16
     jim kelly  matched with  anne christianson
     [7, 14, 8, 16]  ~  [3, 4, 3, 6]
eddie albert - [11, 17, 6, 10]
  thr :  16
     eddie albert  matched with  amgaabazar gonson
     [11, 17, 6, 10]  ~  [4, 7, 7, 6]
james whitmore - [15, 16, 7, 2]
  thr :  16
     james whitmore  matched with  bill melendez
     [15, 16, 7, 2]  ~  [20, 23, 17, 4]
andy whitfield - [9, 13, 13, 10]
  thr :  16
     andy whitfield  matched with  bridgit mendler
     [9, 13, 13, 10]  ~  [3, 2, 6, 6]
roy scheider - [11, 11, 11, 12]
  thr :  16
     roy scheider  matched with  athena lorde
     [11, 11, 11, 12]  ~  [7, 4, 1, 4]
elaine stritch - [17, 3, 13, 6]
  thr :  16
     elaine stritch  matched with  aaron kwok
     [17, 3, 13, 6]  ~  [6, 0, 6, 0]
red buttons - [10, 18, 7, 5]
  thr :  16
     red buttons  matched with  charles kay
     [10, 18, 7, 5]  ~  [4, 5, 0, 5]
christopher reeve - [7, 9, 17, 7]
  thr :  16
     christopher reeve  matched with  allan rich
     [7, 9, 17, 7]  ~  [0, 5, 5, 1]
charles bronson - [14, 11, 10, 7]
  thr :  16
     charles bronson  matched with  david ackroyd
     [14, 11, 10, 7]  ~  [6, 3, 17, 3]
rik mayall - [9, 15, 11, 4]
  thr :  16
     rik mayall  matched with  aj johnson
     [9, 15, 11, 4]  ~  [4, 2, 7, 5]
jonathan winters - [11, 3, 13, 11]
  thr :  16
     jonathan winters  matched with  adrian holmes
     [11, 3, 13, 11]  ~  [1, 2, 3, 4]
glenn ford - [9, 15, 8, 7]
  thr :  16
     glenn ford  matched with  danny bonaduce
     [9, 15, 8, 7]  ~  [2, 3, 1, 4]
brittany murphy - [13, 9, 11, 6]
  thr :  16
     brittany murphy  matched with  catherine disher
     [13, 9, 11, 6]  ~  [3, 1, 2, 3]
celeste holm - [12, 12, 10, 4]
  thr :  16
     celeste holm  matched with  alexei ryan
     [12, 12, 10, 4]  ~  [1, 1, 9, 3]
john gielgud - [11, 9, 8, 11]
  thr :  16
     john gielgud  matched with  ben niu
     [11, 9, 8, 11]  ~  [2, 2, 2, 2]
anthony quinn - [3, 17, 5, 7]
  thr :  16
     anthony quinn  matched with  daisy gough
     [3, 17, 5, 7]  ~  [1, 3, 0, 2]
alec guinness - [13, 7, 9, 8]
  thr :  16
     alec guinness  matched with  agnes flanagan
     [13, 7, 9, 8]  ~  [1, 3, 2, 2]
esther williams - [14, 10, 6, 5]
  thr :  16
     esther williams  matched with  alessandro chini
     [14, 10, 6, 5]  ~  [1, 1, 5, 3]
pete postlethwaite - [13, 10, 8, 4]
  thr :  16
     pete postlethwaite  matched with  barbara gordon
     [13, 10, 8, 4]  ~  [1, 2, 2, 1]
herbert lom - [7, 8, 8, 13]
  thr :  16
     herbert lom  matched with  bob paul
     [7, 8, 8, 13]  ~  [0, 2, 6, 4]
dom deluise - [8, 6, 12, 10]
  thr :  16
     dom deluise  matched with  al sapienza
     [8, 6, 12, 10]  ~  [1, 0, 1, 3]
anne bancroft - [5, 12, 11, 7]
  thr :  16
     anne bancroft  matched with  akira yamauchi
     [5, 12, 11, 7]  ~  [2, 1, 3, 0]
jerry orbach - [5, 11, 9, 10]
  thr :  16
     jerry orbach  matched with  alexander davion
     [5, 11, 9, 10]  ~  [0, 1, 1, 2]
rod steiger - [11, 7, 10, 7]
  thr :  16
     rod steiger  matched with  adam jones
     [11, 7, 10, 7]  ~  [5, 1, 5, 0]
dennis weaver - [17, 4, 3, 2]
  thr :  16
     dennis weaver  matched with  anna alicia brock
     [17, 4, 3, 2]  ~  [2, 0, 1, 0]
richard widmark - [6, 7, 14, 6]
  thr :  16
     richard widmark  matched with  allan blye
     [6, 7, 14, 6]  ~  [1, 2, 1, 1]
kaneto shiozawa - [2, 6, 7, 15]
  thr :  16
     kaneto shiozawa  matched with  clarence kolb
     [2, 6, 7, 15]  ~  [2, 1, 0, 4]
james doohan - [11, 5, 4, 12]
  thr :  16
     james doohan  matched with  alexandra gilbreath
     [11, 5, 4, 12]  ~  [4, 2, 1, 0]
ulrich mühe - [6, 11, 4, 11]
  thr :  16
     ulrich mühe  matched with  alfred harmsworth
     [6, 11, 4, 11]  ~  [0, 2, 2, 1]
estelle getty - [7, 7, 12, 7]
  thr :  16
     estelle getty  matched with  alexandra pic
     [7, 7, 12, 7]  ~  [1, 0, 1, 0]
pat hingle - [5, 9, 5, 12]
  thr :  14
     pat hingle  matched with  charlie brooks
     [5, 9, 5, 12]  ~  [1, 5, 1, 2]
shelley winters - [5, 8, 9, 10]
  thr :  14
     shelley winters  matched with  cynthia dale
     [5, 8, 9, 10]  ~  [0, 0, 3, 3]
kevin smith - [13, 5, 1, 8]
  thr :  14
     kevin smith  matched with  arthur q bryan
     [13, 5, 1, 8]  ~  [4, 1, 0, 0]
jean simmons - [7, 3, 10, 10]
  thr :  14
     jean simmons  matched with  chow yun fat
     [7, 3, 10, 10]  ~  [2, 1, 1, 1]
paul winfield - [7, 6, 11, 7]
  thr :  14
     paul winfield  matched with  anne suzuki
     [7, 6, 11, 7]  ~  [9, 0, 0, 2]
100  subjects out of  500
marcia wallace - [6, 5, 11, 8]
  thr :  14
     marcia wallace  matched with  alessandro preziosi
     [6, 5, 11, 8]  ~  [0, 3, 1, 2]
van johnson - [3, 7, 10, 9]
  thr :  14
     van johnson  matched with  alphonse ethier
     [3, 7, 10, 9]  ~  [0, 2, 2, 0]
peter graves - [4, 4, 13, 5]
  thr :  14
     peter graves  matched with  alicia lagano
     [4, 4, 13, 5]  ~  [0, 0, 1, 1]
maureen stapleton - [5, 13, 4, 4]
  thr :  14
     maureen stapleton  matched with  april adams
     [5, 13, 4, 4]  ~  [1, 1, 1, 0]
katharine hepburn - [9, 9, 6, 5]
  thr :  14
     katharine hepburn  matched with  adam monty
     [9, 9, 6, 5]  ~  [1, 0, 1, 0]
patricia neal - [7, 3, 11, 6]
  thr :  14
     patricia neal  matched with  allison r hart
     [7, 3, 11, 6]  ~  [0, 0, 1, 0]
jack palance - [2, 7, 11, 6]
  thr :  14
     jack palance  matched with  ahn jae-wook
     [2, 7, 11, 6]  ~  [0, 0, 1, 0]
john spencer - [2, 1, 6, 13]
  thr :  14
     john spencer  matched with  alex alexander
     [2, 1, 6, 13]  ~  [0, 1, 0, 1]
wayne allwine - [4, 1, 7, 12]
  thr :  14
     wayne allwine  matched with  abdul salaam el razzac
     [4, 1, 7, 12]  ~  [0, 0, 0, 1]
deanna durbin - [6, 8, 9, 3]
  thr :  14
     deanna durbin  matched with  aaron chayrez
     [6, 8, 9, 3]  ~  [0, 0, 0, 0]
jack klugman - [11, 2, 6, 5]
  thr :  14
     jack klugman  matched with  aarti chopra
     [11, 2, 6, 5]  ~  [0, 0, 0, 0]
pat morita - [6, 10, 5, 5]
  thr :  14
     pat morita  matched with  adam clark
     [6, 10, 5, 5]  ~  [0, 0, 0, 0]
chris penn - [5, 4, 9, 8]
  thr :  14
     chris penn  matched with  adriana bello
     [5, 4, 9, 8]  ~  [0, 0, 0, 0]
june allyson - [10, 7, 4, 4]
  thr :  14
     june allyson  matched with  adriana mather
     [10, 7, 4, 4]  ~  [0, 0, 0, 0]
ann miller - [7, 8, 7, 4]
  thr :  14
     ann miller  matched with  adriano dominguez
     [7, 8, 7, 4]  ~  [0, 0, 0, 0]
ben gazzara - [6, 2, 9, 7]
  thr :  14
     ben gazzara  matched with  agustin a soberon
     [6, 2, 9, 7]  ~  [0, 0, 0, 0]
teresa wright - [11, 5, 2, 4]
  thr :  14
     teresa wright  matched with  ah-lee lee
     [11, 5, 2, 4]  ~  [0, 0, 0, 0]
farrah fawcett - [5, 5, 3, 10]
  thr :  14
     farrah fawcett  matched with  ahmad razvi
     [5, 5, 3, 10]  ~  [2, 1, 0, 1]
jane wyman - [7, 3, 7, 7]
  thr :  14
     jane wyman  matched with  ai sayama
     [7, 3, 7, 7]  ~  [0, 0, 0, 0]
whitney houston - [8, 8, 5, 1]
  thr :  14
     whitney houston  matched with  aidan kelley
     [8, 8, 5, 1]  ~  [0, 0, 0, 0]
robert culp - [7, 9, 1, 4]
  thr :  14

     robert culp  matched with  ajay chaudhary
     [7, 9, 1, 4]  ~  [0, 0, 0, 1]
john mills - [9, 4, 6, 3]
  thr :  14
     john mills  matched with  alan dowell
     [9, 4, 6, 3]  ~  [0, 0, 0, 0]
deforest kelley - [6, 5, 5, 7]
  thr :  14
     deforest kelley  matched with  alan parry
     [6, 5, 5, 7]  ~  [0, 0, 0, 0]
bernadette lafont - [5, 8, 3, 6]
  thr :  14
     bernadette lafont  matched with  alan stemm
     [5, 8, 3, 6]  ~  [0, 0, 0, 0]
nigel hawthorne - [6, 5, 6, 6]
  thr :  14
     nigel hawthorne  matched with  alberta mayberry
     [6, 5, 6, 6]  ~  [0, 0, 0, 0]
peter ustinov - [2, 8, 4, 7]
  thr :  14
     peter ustinov  matched with  alberto alejandrino
     [2, 8, 4, 7]  ~  [0, 0, 0, 0]
kevin mccarthy - [10, 2, 4, 3]
  thr :  14
     kevin mccarthy  matched with  alberto barros
     [10, 2, 4, 3]  ~  [0, 0, 0, 0]
betty hutton - [5, 10, 1, 0]
  thr :  14
     betty hutton  matched with  albie casino
     [5, 10, 1, 0]  ~  [0, 0, 0, 0]
evelyn keyes - [2, 7, 6, 6]
  thr :  14
     evelyn keyes  matched with  alec timerman
     [2, 7, 6, 6]  ~  [0, 0, 0, 0]
harry morgan - [6, 6, 4, 6]
  thr :  14
     harry morgan  matched with  aleks darowska
     [6, 6, 4, 6]  ~  [0, 0, 0, 0]
tony randall - [9, 1, 6, 2]
  thr :  14
     tony randall  matched with  aleksandar sasha panic
     [9, 1, 6, 2]  ~  [0, 0, 0, 0]
bea arthur - [4, 4, 3, 9]
  thr :  14
     bea arthur  matched with  alessandra benjamin
     [4, 4, 3, 9]  ~  [0, 0, 0, 0]
roberts blossom - [8, 4, 4, 5]
  thr :  14
     roberts blossom  matched with  alessandro cassis
     [8, 4, 4, 5]  ~  [1, 0, 0, 0]
bruce bennett - [9, 1, 6, 0]
  thr :  14
     bruce bennett  matched with  alessandro del pia
     [9, 1, 6, 0]  ~  [0, 0, 0, 0]
ian richardson - [10, 1, 4, 0]
  thr :  14
     ian richardson  matched with  alessio fasano md
     [10, 1, 4, 0]  ~  [0, 0, 0, 0]
philippe noiret - [7, 5, 4, 5]
  thr :  14
     philippe noiret  matched with  alex hood
     [7, 5, 4, 5]  ~  [0, 0, 0, 0]
john ritter - [4, 3, 4, 8]
  thr :  14
     john ritter  matched with  alex rose wiesel
     [4, 3, 4, 8]  ~  [0, 0, 0, 0]
russell means - [9, 3, 2, 3]
  thr :  14
     russell means  matched with  alexander allerson
     [9, 3, 2, 3]  ~  [0, 0, 1, 0]
richard crenna - [5, 7, 2, 5]
  thr :  14
     richard crenna  matched with  alexander carroll
     [5, 7, 2, 5]  ~  [0, 0, 0, 0]
yvonne de carlo - [1, 5, 6, 6]
  thr :  14
     yvonne de carlo  matched with  alexander gifford
     [1, 5, 6, 6]  ~  [0, 0, 0, 0]
susannah york - [3, 3, 8, 4]
  thr :  14
     susannah york  matched with  alexander grill
     [3, 3, 8, 4]  ~  [0, 0, 0, 0]
madeline kahn - [3, 9, 1, 2]
  thr :  14
     madeline kahn  matched with  alexander lyapin
     [3, 9, 1, 2]  ~  [0, 0, 0, 0]
hope lange - [2, 7, 2, 6]
  thr :  14
     hope lange  matched with  alexander peleg edgar selge
     [2, 7, 2, 6]  ~  [0, 0, 0, 0]
bernie mac - [4, 6, 4, 5]
  thr :  14
     bernie mac  matched with  alexandria quinn
     [4, 6, 4, 5]  ~  [0, 0, 0, 0]
roscoe lee browne - [5, 4, 7, 0]
  thr :  14
     roscoe lee browne  matched with  alham nissar
     [5, 4, 7, 0]  ~  [0, 0, 0, 0]
howard keel - [7, 1, 1, 6]
  thr :  14
     howard keel  matched with  ali mukaddam
     [7, 1, 1, 6]  ~  [0, 0, 0, 0]
jackie cooper - [6, 5, 3, 4]
  thr :  14
     jackie cooper  matched with  alice fulks
     [6, 5, 3, 4]  ~  [1, 0, 1, 0]
paul scofield - [7, 3, 3, 4]
  thr :  14
     paul scofield  matched with  alina rodríguez
     [7, 3, 3, 4]  ~  [0, 0, 0, 0]
michael gough - [2, 5, 6, 4]
  thr :  14
     michael gough  matched with  alison cimmet
     [2, 5, 6, 4]  ~  [0, 0, 0, 0]
alida valli - [2, 2, 3, 8]
  thr :  14
     alida valli  matched with  alistair witton
     [2, 2, 3, 8]  ~  [0, 0, 0, 0]
150  subjects out of  500
cyd charisse - [6, 2, 5, 4]
  thr :  14
     cyd charisse  matched with  alix elias
     [6, 2, 5, 4]  ~  [0, 0, 0, 0]
robert stack - [1, 1, 5, 7]
  thr :  14
     robert stack  matched with  alix koromzay
     [1, 1, 5, 7]  ~  [1, 1, 0, 1]
natasha richardson - [4, 5, 5, 2]
  thr :  14
     natasha richardson  matched with  all original characters by: comedian stevie mack
     [4, 5, 5, 2]  ~  [0, 0, 0, 0]
ron silver - [4, 7, 2, 1]
  thr :  14
     ron silver  matched with  allan mcfee
     [4, 7, 2, 1]  ~  [0, 0, 0, 0]
sandra dee - [6, 5, 2, 2]
  thr :  13
     sandra dee  matched with  allan rothschild
     [6, 5, 2, 2]  ~  [0, 0, 0, 0]
charles napier - [0, 4, 5, 5]
  thr :  13
     charles napier  matched with  allen arkus
     [0, 4, 5, 5]  ~  [0, 0, 0, 0]
richard todd - [2, 5, 6, 1]
  thr :  13
     richard todd  matched with  allen dwight callahan
     [2, 5, 6, 1]  ~  [0, 0, 0, 0]
bob hope - [6, 3, 4, 2]
  thr :  13
     bob hope  matched with  allen evangelista
     [6, 3, 4, 2]  ~  [0, 0, 0, 0]
lynn redgrave - [3, 1, 6, 4]
  thr :  13
     lynn redgrave  matched with  allen marsh
     [3, 1, 6, 4]  ~  [0, 0, 0, 0]
virginia mayo - [1, 5, 5, 3]
  thr :  13
     virginia mayo  matched with  alonzo cudd
     [1, 5, 5, 3]  ~  [0, 0, 0, 0]
katy jurado - [4, 0, 5, 4]
  thr :  13
     katy jurado  matched with  alta allen
     [4, 0, 5, 4]  ~  [0, 0, 0, 0]
charles gray - [2, 6, 4, 1]
  thr :  13
     charles gray  matched with  amanda michalka
     [2, 6, 4, 1]  ~  [0, 0, 0, 0]
eileen heckart - [3, 1, 3, 6]
  thr :  13
     eileen heckart  matched with  amanda young
     [3, 1, 3, 6]  ~  [0, 0, 0, 0]
farley granger - [4, 2, 5, 3]
  thr :  13
     farley granger  matched with  amber lancaster
     [4, 2, 5, 3]  ~  [0, 0, 0, 0]
dudley moore - [2, 5, 3, 4]
  thr :  13
     dudley moore  matched with  amber mullin
     [2, 5, 3, 4]  ~  [0, 0, 0, 0]
jim varney - [0, 6, 4, 1]
  thr :  13
     jim varney  matched with  american psycho
     [0, 6, 4, 1]  ~  [0, 0, 0, 0]
alan bates - [6, 4, 0, 1]
  thr :  13
     alan bates  matched with  amira moustafa
     [6, 4, 0, 1]  ~  [0, 0, 0, 0]
nina foch - [5, 4, 1, 3]
  thr :  13
     nina foch  matched with  amy gibson
     [5, 4, 1, 3]  ~  [0, 0, 0, 0]
henry gibson - [0, 3, 5, 4]
  thr :  13
     henry gibson  matched with  amy ormston
     [0, 3, 5, 4]  ~  [0, 0, 0, 0]
roger lloyd-pack - [5, 4, 3, 0]
  thr :  13
     roger lloyd-pack  matched with  ana margarita martínez casado
     [5, 4, 3, 0]  ~  [0, 1, 2, 2]
stanley kamel - [4, 2, 5, 2]
  thr :  13
     stanley kamel  matched with  ana mayo
     [4, 2, 5, 2]  ~  [0, 0, 0, 0]
kim hunter - [6, 3, 1, 1]
  thr :  13
     kim hunter  matched with  anamaria vartolomei
     [6, 3, 1, 1]  ~  [0, 0, 0, 0]
sam jaffe - [4, 5, 2, 1]
  thr :  13
     sam jaffe  matched with  andre lotterer
     [4, 5, 2, 1]  ~  [0, 0, 0, 0]
jennifer jones - [6, 2, 1, 2]
  thr :  13
     jennifer jones  matched with  andrea amore
     [6, 2, 1, 2]  ~  [0, 0, 0, 0]
don adams - [1, 2, 2, 6]
  thr :  13
     don adams  matched with  andrea leon
     [1, 2, 2, 6]  ~  [0, 0, 0, 0]
ann doran - [4, 5, 2, 0]
  thr :  13
     ann doran  matched with  andrea monier
     [4, 5, 2, 0]  ~  [0, 0, 0, 0]
barbara bel geddes - [3, 1, 5, 3]
  thr :  13
     barbara bel geddes  matched with  andrea page
     [3, 1, 5, 3]  ~  [0, 0, 0, 0]
rodney dangerfield - [5, 1, 3, 3]
  thr :  13
     rodney dangerfield  matched with  andrea smith
     [5, 1, 3, 3]  ~  [0, 0, 0, 0]
richard mulligan - [5, 3, 3, 0]
  thr :  13
     richard mulligan  matched with  andrea vahl felissa rose
     [5, 3, 3, 0]  ~  [0, 0, 0, 0]
jane russell - [4, 4, 1, 3]
  thr :  13
     jane russell  matched with  andrew gerhards
     [4, 4, 1, 3]  ~  [0, 0, 0, 0]
sara montiel - [4, 4, 1, 3]
  thr :  13
     sara montiel  matched with  andrew hardingham
     [4, 4, 1, 3]  ~  [0, 0, 0, 0]
brad renfro - [4, 4, 3, 1]
  thr :  13
     brad renfro  matched with  andrew tortise
     [4, 4, 3, 1]  ~  [0, 0, 0, 0]
giuliano gemma - [3, 2, 3, 4]
  thr :  13
     giuliano gemma  matched with  andy bumatai
     [3, 2, 3, 4]  ~  [1, 2, 2, 2]
dorothy mcguire - [4, 3, 3, 2]
  thr :  13
     dorothy mcguire  matched with  andy callaghan
     [4, 3, 3, 2]  ~  [0, 0, 0, 0]
tom bosley - [5, 2, 1, 2]
  thr :  13
     tom bosley  matched with  andy irvine
     [5, 2, 1, 2]  ~  [0, 0, 0, 0]
kathleen freeman - [4, 4, 0, 0]
  thr :  13
     kathleen freeman  matched with  andy mckee
     [4, 4, 0, 0]  ~  [0, 0, 0, 0]
jack elam - [3, 3, 2, 3]
  thr :  13
     jack elam  matched with  anetta keys
     [3, 3, 2, 3]  ~  [0, 0, 0, 0]
karlheinz böhm - [4, 2, 3, 1]
  thr :  13
     karlheinz böhm  matched with  angela big ang raiola
     [4, 2, 3, 1]  ~  [0, 1, 0, 1]
davy jones - [2, 4, 3, 1]
  thr :  13
     davy jones  matched with  angela cohen
     [2, 4, 3, 1]  ~  [1, 0, 1, 0]
barry nelson - [4, 2, 3, 0]
  thr :  13
     barry nelson  matched with  angela rambourg
     [4, 2, 3, 0]  ~  [0, 0, 0, 0]
eartha kitt - [3, 3, 2, 2]
  thr :  13

     eartha kitt  matched with  angela rovetto nora salinas
     [3, 3, 2, 2]  ~  [0, 0, 0, 0]
tomoko kawakami - [5, 1, 0, 0]
  thr :  13
     tomoko kawakami  matched with  angela schijf
     [5, 1, 0, 0]  ~  [0, 0, 0, 0]
oliver reed - [1, 2, 2, 4]
  thr :  13
     oliver reed  matched with  angeles cruz
     [1, 2, 2, 4]  ~  [0, 0, 0, 0]
leslie cheung - [0, 2, 4, 2]
  thr :  13
     leslie cheung  matched with  angelica kirchshlager
     [0, 2, 4, 2]  ~  [0, 0, 0, 0]
mel ferrer - [4, 2, 0, 2]
  thr :  13
     mel ferrer  matched with  angelina estrada
     [4, 2, 0, 2]  ~  [0, 0, 0, 0]
jill clayburgh - [3, 3, 2, 0]
  thr :  13
     jill clayburgh  matched with  angelina pelaez
     [3, 3, 2, 0]  ~  [0, 0, 0, 0]
sylvia kristel - [2, 1, 4, 1]
  thr :  13
     sylvia kristel  matched with  angeline wynn
     [2, 1, 4, 1]  ~  [0, 0, 0, 0]
gloria stuart - [1, 4, 0, 2]
  thr :  13
     gloria stuart  matched with  angelo russo
     [1, 4, 0, 2]  ~  [0, 0, 0, 0]
michael jeter - [0, 4, 2, 1]
  thr :  13
     michael jeter  matched with  anikka albrite
     [0, 4, 2, 1]  ~  [0, 0, 0, 0]
gene barry - [2, 0, 0, 4]
  thr :  13
     gene barry  matched with  anjali jathar
     [2, 0, 0, 4]  ~  [0, 0, 0, 0]
200  subjects out of  500
gregory hines - [2, 4, 0, 0]
  thr :  13
     gregory hines  matched with  ann arnoult
     [2, 4, 0, 0]  ~  [0, 0, 0, 0]
robert urich - [3, 1, 2, 2]
  thr :  13
     robert urich  matched with  ann kennedy
     [3, 1, 2, 2]  ~  [0, 0, 0, 0]
ray walston - [4, 1, 0, 1]
  thr :  13
     ray walston  matched with  ann osmond
     [4, 1, 0, 1]  ~  [0, 0, 0, 0]
loretta young - [2, 3, 1, 2]
  thr :  13
     loretta young  matched with  ann stephens
     [2, 3, 1, 2]  ~  [0, 0, 0, 0]
ann rutherford - [2, 3, 2, 0]
  thr :  13
     ann rutherford  matched with  anna fikhman
     [2, 3, 2, 0]  ~  [0, 0, 0, 0]
andreas katsulas - [4, 1, 0, 0]
  thr :  13
     andreas katsulas  matched with  anna nicholas
     [4, 1, 0, 0]  ~  [0, 0, 0, 0]
david hemmings - [0, 2, 3, 2]
  thr :  13
     david hemmings  matched with  anna sten
     [0, 2, 3, 2]  ~  [0, 0, 0, 0]
david tomlinson - [2, 1, 3, 1]
  thr :  13
     david tomlinson  matched with  anne arles
     [2, 1, 3, 1]  ~  [0, 0, 0, 0]
jeff conaway - [1, 2, 0, 3]
  thr :  13
     jeff conaway  matched with  anne day-jones
     [1, 2, 0, 3]  ~  [0, 0, 0, 0]
vittorio gassman - [2, 2, 1, 2]
  thr :  13
     vittorio gassman  matched with  anne frith
     [2, 2, 1, 2]  ~  [0, 0, 0, 0]
lena horne - [1, 2, 2, 2]
  thr :  13
     lena horne  matched with  annie conway
     [1, 2, 2, 2]  ~  [0, 0, 0, 0]
gary coleman - [2, 0, 2, 2]
  thr :  13
     gary coleman  matched with  annie v ramsey
     [2, 0, 2, 2]  ~  [0, 0, 0, 0]
maria schell - [1, 1, 3, 1]
  thr :  13
     maria schell  matched with  annika wedderkopp
     [1, 1, 3, 1]  ~  [0, 0, 0, 0]
fay wray - [1, 3, 1, 1]
  thr :  13
     fay wray  matched with  ansel elgort
     [1, 3, 1, 1]  ~  [0, 0, 0, 0]
beatrice straight - [1, 1, 1, 3]
  thr :  13
     beatrice straight  matched with  ansy boothroyd
     [1, 1, 1, 3]  ~  [0, 0, 0, 0]
joseph wiseman - [2, 2, 2, 0]
  thr :  13
     joseph wiseman  matched with  anthony beverly
     [2, 2, 2, 0]  ~  [0, 0, 0, 0]
jeanne crain - [3, 1, 1, 0]
  thr :  13
     jeanne crain  matched with  anthony fill
     [3, 1, 1, 0]  ~  [0, 0, 0, 0]
fernando fernán gómez - [0, 1, 1, 3]
  thr :  13
     fernando fernán gómez  matched with  antigone papoulkas
     [0, 1, 1, 3]  ~  [0, 1, 0, 0]
nora ephron - [3, 1, 1, 0]
  thr :  13
     nora ephron  matched with  anton adasinsky
     [3, 1, 1, 0]  ~  [0, 0, 0, 0]
art carney - [1, 1, 3, 0]
  thr :  13
     art carney  matched with  antonia campbell hugues
     [1, 1, 3, 0]  ~  [0, 0, 0, 0]
alan north - [1, 1, 3, 0]
  thr :  13
     alan north  matched with  antonina shuranova
     [1, 1, 3, 0]  ~  [0, 0, 0, 0]
ann sothern - [0, 1, 3, 1]
  thr :  13
     ann sothern  matched with  antonio davis
     [0, 1, 3, 1]  ~  [0, 0, 0, 0]
jane wyatt - [3, 0, 1, 0]
  thr :  13
     jane wyatt  matched with  antonio petrocelli
     [3, 0, 1, 0]  ~  [0, 0, 0, 0]
ian bannen - [2, 1, 1, 2]
  thr :  13
     ian bannen  matched with  antonio sanchez
     [2, 1, 1, 2]  ~  [0, 0, 0, 0]
anthony minghella - [1, 3, 0, 0]
  thr :  13
     anthony minghella  matched with  antonio sandoval
     [1, 3, 0, 0]  ~  [0, 0, 0, 0]
ruth roman - [3, 0, 0, 0]
  thr :  13
     ruth roman  matched with  aoibheann murray
     [3, 0, 0, 0]  ~  [0, 0, 0, 0]
johnny cash - [1, 2, 0, 2]
  thr :  13
     johnny cash  matched with  apollo nida
     [1, 2, 0, 2]  ~  [0, 0, 0, 0]
ronald reagan - [1, 2, 0, 2]
  thr :  13
     ronald reagan  matched with  april rayne
     [1, 2, 0, 2]  ~  [0, 0, 0, 0]
richard kiley - [0, 2, 1, 2]
  thr :  13
     richard kiley  matched with  archibald cox
     [0, 2, 1, 2]  ~  [0, 0, 0, 0]
marie windsor - [0, 0, 3, 0]
  thr :  13
     marie windsor  matched with  ariana altman
     [0, 0, 3, 0]  ~  [0, 0, 0, 0]
guillaume depardieu - [0, 2, 2, 0]
  thr :  13
     guillaume depardieu  matched with  ariauna albright
     [0, 2, 2, 0]  ~  [0, 1, 0, 0]
wendy hiller - [0, 2, 2, 0]
  thr :  13
     wendy hiller  matched with  aric weber
     [0, 2, 2, 0]  ~  [0, 0, 0, 0]
anthony franciosa - [2, 0, 0, 2]
  thr :  13
     anthony franciosa  matched with  arlyne weiss brickman
     [2, 0, 0, 2]  ~  [0, 0, 0, 0]
victor mature - [0, 2, 1, 1]
  thr :  13
     victor mature  matched with  armand arapian
     [0, 2, 1, 1]  ~  [0, 0, 0, 0]
francis lederer - [0, 1, 2, 1]
  thr :  13
     francis lederer  matched with  arnel ignacio
     [0, 1, 2, 1]  ~  [0, 0, 0, 0]
tony scott - [0, 1, 1, 2]
  thr :  13
     tony scott  matched with  arnold schoenberg choir
     [0, 1, 1, 2]  ~  [0, 0, 0, 0]
beah richards - [2, 0, 1, 1]
  thr :  13
     beah richards  matched with  arpad pusztai
     [2, 0, 1, 1]  ~  [0, 0, 0, 0]
jean peters - [1, 0, 1, 2]
  thr :  13
     jean peters  matched with  arshalouis aivazian
     [1, 0, 1, 2]  ~  [0, 0, 0, 0]
mel smith - [1, 2, 0, 1]
  thr :  13
     mel smith  matched with  arthur anger
     [1, 2, 0, 1]  ~  [0, 1, 0, 0]
amrish puri - [0, 0, 2, 1]
  thr :  13
     amrish puri  matched with  arthur wong ngok tai
     [0, 0, 2, 1]  ~  [0, 0, 0, 0]
takeshi aono - [0, 0, 2, 1]
  thr :  13
     takeshi aono  matched with  arvo lehesmaa
     [0, 0, 2, 1]  ~  [0, 0, 1, 0]
craig stevens - [0, 1, 0, 2]
  thr :  13
     craig stevens  matched with  asheesh bhalla
     [0, 1, 0, 2]  ~  [0, 0, 0, 0]
dirk bogarde - [0, 2, 0, 1]
  thr :  13
     dirk bogarde  matched with  ashley allen
     [0, 2, 0, 1]  ~  [0, 0, 0, 0]
rosemary clooney - [0, 2, 0, 1]
  thr :  13
     rosemary clooney  matched with  ashley argota
     [0, 2, 0, 1]  ~  [0, 0, 0, 0]
maria schneider - [2, 0, 1, 0]
  thr :  13
     maria schneider  matched with  ashley porter
     [2, 0, 1, 0]  ~  [0, 0, 0, 0]
ingrid thulin - [0, 0, 2, 1]
  thr :  13
     ingrid thulin  matched with  ashley rae spillers
     [0, 0, 2, 1]  ~  [0, 0, 0, 0]
peggy lee - [1, 1, 1, 1]
  thr :  13
     peggy lee  matched with  ashley wood
     [1, 1, 1, 1]  ~  [0, 0, 0, 0]
sylvia sidney - [2, 0, 0, 0]
  thr :  13
     sylvia sidney  matched with  assorted experts
     [2, 0, 0, 0]  ~  [0, 0, 0, 0]
vyacheslav tikhonov - [0, 0, 2, 0]
  thr :  13
     vyacheslav tikhonov  matched with  aston martin volante
     [0, 0, 2, 0]  ~  [0, 0, 0, 0]
pupella maggio - [2, 0, 0, 0]
  thr :  13
     pupella maggio  matched with  asur zagada
     [2, 0, 0, 0]  ~  [0, 0, 0, 0]
250  subjects out of  500
bubba smith - [0, 0, 0, 2]
  thr :  13
     bubba smith  matched with  athena currey
     [0, 0, 0, 2]  ~  [0, 0, 0, 0]
adrienne shelly - [0, 0, 0, 2]
  thr :  13
     adrienne shelly  matched with  atsuko yuya
     [0, 0, 0, 2]  ~  [0, 0, 0, 0]
imogene coca - [1, 0, 1, 1]
  thr :  13
     imogene coca  matched with  aunt peg
     [1, 0, 1, 1]  ~  [0, 0, 0, 0]
hume cronyn - [1, 1, 1, 0]
  thr :  13
     hume cronyn  matched with  austin rogers
     [1, 1, 1, 0]  ~  [0, 0, 0, 0]
bob peck - [1, 0, 1, 1]
  thr :  13
     bob peck  matched with  autumn ward
     [1, 0, 1, 1]  ~  [0, 0, 0, 0]
mercedes mccambridge - [0, 1, 1, 1]
  thr :  13
     mercedes mccambridge  matched with  ava lake
     [0, 1, 1, 1]  ~  [0, 0, 0, 0]
hoyt axton - [1, 0, 0, 1]
  thr :  13
     hoyt axton  matched with  ayako kobayashi
     [1, 0, 0, 1]  ~  [0, 0, 0, 0]
michelangelo antonioni - [0, 1, 1, 0]
  thr :  13
     michelangelo antonioni  matched with  ayatollah khomeini
     [0, 1, 1, 0]  ~  [0, 0, 0, 0]
jonathan brandis - [0, 1, 0, 1]
  thr :  13
     jonathan brandis  matched with  ayub khan-din
     [0, 1, 0, 1]  ~  [0, 0, 0, 0]
hedy lamarr - [0, 1, 0, 1]
  thr :  13
     hedy lamarr  matched with  aziz abbas
     [0, 1, 0, 1]  ~  [0, 0, 0, 0]
matthew mcgrory - [1, 0, 0, 1]
  thr :  13

     matthew mcgrory  matched with  bacarian radio choir
     [1, 0, 0, 1]  ~  [0, 0, 0, 0]
dolphy - [0, 1, 1, 0]
  thr :  13
     dolphy  matched with  bailey handler & aztec
     [0, 1, 1, 0]  ~  [0, 0, 0, 0]
troy donahue - [0, 1, 0, 1]
  thr :  13
     troy donahue  matched with  bailey munoz
     [0, 1, 0, 1]  ~  [0, 0, 0, 0]
marie trintignant - [0, 1, 1, 0]
  thr :  13
     marie trintignant  matched with  barbara eda-young
     [0, 1, 1, 0]  ~  [0, 1, 0, 1]
joan sims - [1, 0, 1, 0]
  thr :  13
     joan sims  matched with  barbara hall
     [1, 0, 1, 0]  ~  [0, 0, 0, 0]
ray harryhausen - [0, 1, 1, 0]
  thr :  13
     ray harryhausen  matched with  barclay hope
     [0, 1, 1, 0]  ~  [1, 4, 0, 0]
anita page - [1, 0, 0, 1]
  thr :  13
     anita page  matched with  barret helms
     [1, 0, 0, 1]  ~  [0, 0, 0, 0]
al martino - [0, 0, 1, 0]
  thr :  13
     al martino  matched with  barry a ritzler
     [0, 0, 1, 0]  ~  [0, 0, 0, 0]
mabel king - [0, 0, 0, 1]
  thr :  13
     mabel king  matched with  barry kimokeo
     [0, 0, 0, 1]  ~  [0, 0, 0, 0]
anthony newley - [1, 0, 0, 0]
  thr :  13
     anthony newley  matched with  barry king
     [1, 0, 0, 0]  ~  [0, 0, 0, 0]
steve reeves - [0, 1, 0, 0]
  thr :  13
     steve reeves  matched with  barry phillips
     [0, 1, 0, 0]  ~  [0, 0, 0, 0]
leni riefenstahl - [1, 0, 0, 0]
  thr :  13
     leni riefenstahl  matched with  barry stokes
     [1, 0, 0, 0]  ~  [0, 0, 0, 0]
don lafontaine - [0, 1, 0, 0]
  thr :  13
     don lafontaine  matched with  barry w levy
     [0, 1, 0, 0]  ~  [0, 0, 0, 0]
alain bashung - [1, 0, 0, 0]
  thr :  13
     alain bashung  matched with  bassem al-jubeh
     [1, 0, 0, 0]  ~  [0, 0, 0, 0]
patrice chéreau - [1, 0, 0, 0]
  thr :  13
     patrice chéreau  matched with  beatriz thibaudin
     [1, 0, 0, 0]  ~  [0, 0, 0, 0]
yash chopra - [0, 0, 1, 0]
  thr :  13
     yash chopra  matched with  bebe wood
     [0, 0, 1, 0]  ~  [0, 0, 0, 0]
simone simon - [0, 1, 0, 0]
  thr :  13
     simone simon  matched with  beck campbell
     [0, 1, 0, 0]  ~  [0, 0, 0, 0]
marilyn chambers - [1, 0, 0, 0]
  thr :  13
     marilyn chambers  matched with  ben dronkers
     [1, 0, 0, 0]  ~  [0, 0, 0, 0]
doris hare - [0, 0, 0, 1]
  thr :  13
     doris hare  matched with  ben frommer
     [0, 0, 0, 1]  ~  [0, 0, 0, 0]
mickey hargitay - [0, 0, 1, 0]
  thr :  13
     mickey hargitay  matched with  ben walker
     [0, 0, 1, 0]  ~  [0, 0, 0, 0]
claude jade - [0, 1, 0, 0]
  thr :  13
     claude jade  matched with  benedikte lindbeck denis storhøi
     [0, 1, 0, 0]  ~  [0, 0, 0, 0]
rosemary decamp - [1, 0, 0, 0]
  thr :  13
     rosemary decamp  matched with  benjamin j burdick
     [1, 0, 0, 0]  ~  [0, 0, 0, 0]
john colicos - [1, 0, 0, 0]
  thr :  13
     john colicos  matched with  benjamin stockham
     [1, 0, 0, 0]  ~  [0, 0, 0, 0]
arlene francis - [0, 0, 1, 0]
  thr :  13
     arlene francis  matched with  benny urquidez
     [0, 0, 1, 0]  ~  [0, 0, 0, 0]
rory calhoun - [0, 0, 1, 0]
  thr :  13
     rory calhoun  matched with  bernadene hayes
     [0, 0, 1, 0]  ~  [0, 0, 0, 0]
billy barty - [0, 0, 1, 0]
  thr :  13
     billy barty  matched with  bernadine dohrn
     [0, 0, 1, 0]  ~  [0, 0, 0, 0]
blake edwards - [0, 1, 0, 0]
  thr :  13
     blake edwards  matched with  bernhard goetzke
     [0, 1, 0, 0]  ~  [0, 2, 0, 0]
vincent schiavelli - [0, 1, 0, 0]
  thr :  13
     vincent schiavelli  matched with  bert appling
     [0, 1, 0, 0]  ~  [0, 1, 0, 0]
john mitchum - [0, 0, 1, 0]
  thr :  13
     john mitchum  matched with  berta muñiz
     [0, 0, 1, 0]  ~  [0, 0, 0, 0]
henry jones - [0, 0, 0, 1]
  thr :  13
     henry jones  matched with  bertil berglund
     [0, 0, 0, 1]  ~  [0, 0, 0, 0]
horst tappert - [0, 0, 0, 1]
  thr :  13
     horst tappert  matched with  beth buchanan
     [0, 0, 0, 1]  ~  [0, 0, 0, 0]
clarence clemons - [0, 0, 1, 0]
  thr :  13
     clarence clemons  matched with  beth hilsabeck
     [0, 0, 1, 0]  ~  [0, 0, 0, 0]
ellen corby - [0, 0, 0, 1]
  thr :  13
     ellen corby  matched with  beth miller
     [0, 0, 0, 1]  ~  [0, 0, 0, 0]
jeanette nolan - [0, 0, 1, 0]
  thr :  13
     jeanette nolan  matched with  betsy slade
     [0, 0, 1, 0]  ~  [0, 0, 0, 0]
robert altman - [0, 0, 1, 0]
  thr :  13
     robert altman  matched with  bev killick
     [0, 0, 1, 0]  ~  [0, 0, 0, 0]
susan strasberg - [0, 0, 0, 0]
  thr :  13
     susan strasberg  matched with  beverley davison
     [0, 0, 0, 0]  ~  [0, 0, 1, 0]
persis khambatta - [0, 0, 0, 0]
  thr :  13
     persis khambatta  matched with  beverly bentley mailer
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
vito scotti - [0, 0, 0, 0]
  thr :  13
     vito scotti  matched with  beverly epstein
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
roy rogers - [0, 0, 0, 0]
  thr :  13
     roy rogers  matched with  beverly peer
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
miyoshi umeki - [0, 0, 0, 0]
  thr :  13
     miyoshi umeki  matched with  beverly sanders
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
300  subjects out of  500
morey amsterdam - [0, 0, 0, 0]
  thr :  13
     morey amsterdam  matched with  bharati achrekar
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
moustapha akkad - [0, 0, 0, 0]
  thr :  13
     moustapha akkad  matched with  bill and gloria gaither and friends
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
richard denning - [0, 0, 0, 0]
  thr :  13
     richard denning  matched with  bill desmond
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
mihalis kakogiannis - [0, 0, 0, 0]
  thr :  13
     mihalis kakogiannis  matched with  bill mauldin
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
rodney harvey - [0, 0, 0, 0]
  thr :  13
     rodney harvey  matched with  bill mccutcheon
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
richard jaeckel - [0, 0, 0, 0]
  thr :  13
     richard jaeckel  matched with  billie carroll
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
walter gotell - [0, 0, 0, 0]
  thr :  13
     walter gotell  matched with  billie dee
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
rick jason - [0, 0, 0, 0]
  thr :  13
     rick jason  matched with  billy eckstine
     [0, 0, 0, 0]  ~  [0, 0, 0, 1]
stubby kaye - [0, 0, 0, 0]
  thr :  13
     stubby kaye  matched with  billy f gibbons
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
robert mitchum - [0, 0, 0, 0]
  thr :  13
     robert mitchum  matched with  billy kyle
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
michael craze - [0, 0, 0, 0]
  thr :  13
     michael craze  matched with  bishop noel jones & the city of refuge sanctuary choir
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
toshiro mifune - [0, 0, 0, 0]
  thr :  13
     toshiro mifune  matched with  bishop of lisieux
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
robert wise - [0, 0, 0, 0]
  thr :  13
     robert wise  matched with  black prince
     [0, 0, 0, 0]  ~  [0, 1, 0, 0]
robert young - [0, 0, 0, 0]
  thr :  13
     robert young  matched with  black sabbath
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
valerie hobson - [0, 0, 0, 0]
  thr :  13
     valerie hobson  matched with  blackie sheep
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
roddy mcdowall - [0, 0, 0, 0]
  thr :  13
     roddy mcdowall  matched with  blanca marsillach
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
sonny bono - [0, 0, 0, 0]
  thr :  13
     sonny bono  matched with  blanca torres
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
rex allen - [0, 0, 0, 0]
  thr :  13
     rex allen  matched with  blanche kommerell
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
nagisa oshima - [0, 0, 0, 0]
  thr :  13
     nagisa oshima  matched with  blas jaramillo and hernan mendez
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
raaj kumar - [0, 0, 0, 0]
  thr :  13
     raaj kumar  matched with  bob christianson
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
sheldon leonard - [0, 0, 0, 0]
  thr :  13
     sheldon leonard  matched with  bob clayton
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
tamara toumanova - [0, 0, 0, 0]
  thr :  13
     tamara toumanova  matched with  bob courtney
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
ted bessell - [0, 0, 0, 0]
  thr :  13
     ted bessell  matched with  bob henry
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
william hickey - [0, 0, 0, 0]
  thr :  13
     william hickey  matched with  bob mendelsohn
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
shirley clarke - [0, 0, 0, 0]
  thr :  13
     shirley clarke  matched with  bob saal
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
theo van gogh - [0, 0, 0, 0]
  thr :  13

     theo van gogh  matched with  bob swerer sr
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
shammi kapoor - [0, 0, 0, 0]
  thr :  13
     shammi kapoor  matched with  bobby ellis
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
theresa merritt - [0, 0, 0, 0]
  thr :  13
     theresa merritt  matched with  bobby sox
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
phil hartman - [0, 0, 0, 0]
  thr :  13
     phil hartman  matched with  bohuslav srámek
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
sidney lumet - [0, 0, 0, 0]
  thr :  13
     sidney lumet  matched with  bonnie rideout
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
siegfried lowitz - [0, 0, 0, 0]
  thr :  13
     siegfried lowitz  matched with  bonnie soaper
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
poul bundgaard - [0, 0, 0, 0]
  thr :  13
     poul bundgaard  matched with  brad moranz
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
sergiu nicolaescu - [0, 0, 0, 0]
  thr :  13
     sergiu nicolaescu  matched with  brandon davison-tracy
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
sivaji ganesan - [0, 0, 0, 0]
  thr :  13
     sivaji ganesan  matched with  braylin alexander
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
rachel gurney - [0, 0, 0, 0]
  thr :  13
     rachel gurney  matched with  breanna yde
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
sylvia field - [0, 0, 0, 0]
  thr :  13
     sylvia field  matched with  brenda dykgraaf
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
sandra gould - [0, 0, 0, 0]
  thr :  13
     sandra gould  matched with  brendan hunter
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
rajendra kumar - [0, 0, 0, 0]
  thr :  13
     rajendra kumar  matched with  brett fancy
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
youssef chahine - [0, 0, 0, 0]
  thr :  13
     youssef chahine  matched with  brett myers
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
yuri nikulin - [0, 0, 0, 0]
  thr :  13
     yuri nikulin  matched with  brett sauey
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
tina lattanzi - [0, 0, 0, 0]
  thr :  13
     tina lattanzi  matched with  brian blade & the fellowship band
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
norman wisdom - [0, 0, 0, 0]
  thr :  13
     norman wisdom  matched with  brian petersen
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
norman fell - [0, 0, 0, 0]
  thr :  13
     norman fell  matched with  brian singleton
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
tito guízar - [0, 0, 0, 0]
  thr :  13
     tito guízar  matched with  brian spaeth
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
werner klemperer - [0, 0, 0, 0]
  thr :  13
     werner klemperer  matched with  briar bear
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
sally blane - [0, 0, 0, 0]
  thr :  13
     sally blane  matched with  bridget devlin burke
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
roger avon - [0, 0, 0, 0]
  thr :  13
     roger avon  matched with  brigham young university combined choirs
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
adriana caselotti - [0, 0, 0, 0]
  thr :  13
     adriana caselotti  matched with  britt lomond
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
maría félix - [0, 0, 0, 0]
  thr :  13
     maría félix  matched with  brixmis and fmlm personnel
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
desmond llewelyn - [0, 0, 0, 0]
  thr :  13
     desmond llewelyn  matched with  bro beck
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
350  subjects out of  500
dorothy stickney - [0, 0, 0, 0]
  thr :  13
     dorothy stickney  matched with  brook bello
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
dorothy lamour - [0, 0, 0, 0]
  thr :  13
     dorothy lamour  matched with  bruce barry
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
don porter - [0, 0, 0, 0]
  thr :  13
     don porter  matched with  bruce evers
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
don messick - [0, 0, 0, 0]
  thr :  13
     don messick  matched with  bruce mahler
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
don henderson - [0, 0, 0, 0]
  thr :  13
     don henderson  matched with  bruce molnia
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
don bexley - [0, 0, 0, 0]
  thr :  13
     don bexley  matched with  bruce tubbe
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
dino de laurentiis - [0, 0, 0, 0]
  thr :  13
     dino de laurentiis  matched with  bruce wagner
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
dermot morgan - [0, 0, 0, 0]
  thr :  13
     dermot morgan  matched with  bruce wietz
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
gene nelson - [0, 0, 0, 0]
  thr :  13
     gene nelson  matched with  bryan lukasik
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
denver pyle - [0, 0, 0, 0]
  thr :  13
     denver pyle  matched with  brynn bromley
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
del close - [0, 0, 0, 0]
  thr :  13
     del close  matched with  bubbles cash
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
david strickland - [0, 0, 0, 0]
  thr :  13
     david strickland  matched with  buddy pantsari
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
david manners - [0, 0, 0, 0]
  thr :  13
     david manners  matched with  bump in the night
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
david holliday - [0, 0, 0, 0]
  thr :  13
     david holliday  matched with  bunny ware
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
david graf - [0, 0, 0, 0]
  thr :  13
     david graf  matched with  byron katie
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
david doyle - [0, 0, 0, 0]
  thr :  13
     david doyle  matched with  byun jung soo
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
edward dmytryk - [0, 0, 0, 0]
  thr :  13
     edward dmytryk  matched with  bébé the circus queen
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
edward mulhare - [0, 0, 0, 0]
  thr :  13
     edward mulhare  matched with  caitlin rose
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
elisabeth brooks - [0, 0, 0, 0]
  thr :  13
     elisabeth brooks  matched with  cal bellini
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
ellis rabb - [0, 0, 0, 0]
  thr :  13
     ellis rabb  matched with  camille felton
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
gene autry - [0, 0, 0, 0]
  thr :  13
     gene autry  matched with  campbell morrison
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
gail fisher - [0, 0, 0, 0]
  thr :  13
     gail fisher  matched with  capt jimmie hobaugh
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
gail davis - [0, 0, 0, 0]
  thr :  13
     gail davis  matched with  captain dan keating
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
fred feast - [0, 0, 0, 0]
  thr :  13
     fred feast  matched with  carl domaski
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
frank latimore - [0, 0, 0, 0]
  thr :  13
     frank latimore  matched with  carmen di pietro
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
frank de vol - [0, 0, 0, 0]
  thr :  13
     frank de vol  matched with  carmen kass
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
frances drake - [0, 0, 0, 0]
  thr :  13
     frances drake  matched with  carmen soo
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
fons rademakers - [0, 0, 0, 0]
  thr :  13
     fons rademakers  matched with  carol alt
     [0, 0, 0, 0]  ~  [0, 3, 0, 0]
flip wilson - [0, 0, 0, 0]
  thr :  13
     flip wilson  matched with  carole demas
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
fernando balzaretti - [0, 0, 0, 0]
  thr :  13
     fernando balzaretti  matched with  carole gray
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
faith domergue - [0, 0, 0, 0]
  thr :  13
     faith domergue  matched with  carolina hoyos
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
eva bartok - [0, 0, 0, 0]
  thr :  13
     eva bartok  matched with  caroline cellier
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
esther rolle - [0, 0, 0, 0]
  thr :  13
     esther rolle  matched with  caroline craig
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
enrique álvarez félix - [0, 0, 0, 0]
  thr :  13
     enrique álvarez félix  matched with  caroline emmonds
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
emil sitka - [0, 0, 0, 0]
  thr :  13
     emil sitka  matched with  carolyn clark
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
daniel massey - [0, 0, 0, 0]
  thr :  13
     daniel massey  matched with  carolyn hardman
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
dane clark - [0, 0, 0, 0]
  thr :  13
     dane clark  matched with  carolyn wilcox
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
dana plato - [0, 0, 0, 0]
  thr :  13
     dana plato  matched with  carrie breiter
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
bruno cremer - [0, 0, 0, 0]
  thr :  13
     bruno cremer  matched with  carrie clark
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
brian keith - [0, 0, 0, 0]
  thr :  13
     brian keith  matched with  cary mizobe
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
binnie barnes - [0, 0, 0, 0]
  thr :  13
     binnie barnes  matched with  cash poker
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
billie dove - [0, 0, 0, 0]
  thr :  13
     billie dove  matched with  cassi thomson
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
bibi besch - [0, 0, 0, 0]
  thr :  13
     bibi besch  matched with  caterina mancini
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
beryl reid - [0, 0, 0, 0]
  thr :  13
     beryl reid  matched with  catherine aymerie
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
barry evans - [0, 0, 0, 0]
  thr :  13
     barry evans  matched with  catherine barlow
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
audra lindley - [0, 0, 0, 0]
  thr :  13

     audra lindley  matched with  catherine belkhodja
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
arik einstein - [0, 0, 0, 0]
  thr :  13
     arik einstein  matched with  catherine byrne
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
arihiro hase - [0, 0, 0, 0]
  thr :  13
     arihiro hase  matched with  catherine fitch
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
arch johnson - [0, 0, 0, 0]
  thr :  13
     arch johnson  matched with  catherine hickland
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
anne haddy - [0, 0, 0, 0]
  thr :  13
     anne haddy  matched with  cathy kinney
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
400  subjects out of  500
annabella - [0, 0, 0, 0]
  thr :  13
     annabella  matched with  ceci moses
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
amália rodrigues - [0, 0, 0, 0]
  thr :  13
     amália rodrigues  matched with  cecily fay
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
alvy moore - [0, 0, 0, 0]
  thr :  13
     alvy moore  matched with  celeste collins
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
aliki vougiouklaki - [0, 0, 0, 0]
  thr :  13
     aliki vougiouklaki  matched with  celia bond
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
brigitte helm - [0, 0, 0, 0]
  thr :  13
     brigitte helm  matched with  celia mcgann
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
burgess meredith - [0, 0, 0, 0]
  thr :  13
     burgess meredith  matched with  chali 2na
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
dana hill - [0, 0, 0, 0]
  thr :  13
     dana hill  matched with  chan biggs
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
buster merryfield - [0, 0, 0, 0]
  thr :  13
     buster merryfield  matched with  chante bowser
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
clayton moore - [0, 0, 0, 0]
  thr :  13
     clayton moore  matched with  chanté bowser
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
claudette colbert - [0, 0, 0, 0]
  thr :  13
     claudette colbert  matched with  chareva naughton tom naughton
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
claude chabrol - [0, 0, 0, 0]
  thr :  13
     claude chabrol  matched with  charles allen
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
claude berri - [0, 0, 0, 0]
  thr :  13
     claude berri  matched with  charles ard
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
christine pascal - [0, 0, 0, 0]
  thr :  13
     christine pascal  matched with  charles bowden
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
christian marquand - [0, 0, 0, 0]
  thr :  13
     christian marquand  matched with  charles cane
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
chris marker - [0, 0, 0, 0]
  thr :  13
     chris marker  matched with  charles dean
     [0, 0, 0, 0]  ~  [0, 1, 0, 0]
chris farley - [0, 0, 0, 0]
  thr :  13
     chris farley  matched with  charlotta jonsson
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
charles lang - [0, 0, 0, 0]
  thr :  13
     charles lang  matched with  chase ryan jeffery
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
catherine scorsese - [0, 0, 0, 0]
  thr :  13
     catherine scorsese  matched with  chel white
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
carlo ponti - [0, 0, 0, 0]
  thr :  13
     carlo ponti  matched with  cherilyn basile
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
carlo bergonzi - [0, 0, 0, 0]
  thr :  13
     carlo bergonzi  matched with  cheryl stell
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
carey loftin - [0, 0, 0, 0]
  thr :  13
     carey loftin  matched with  chester gould
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
candy candido - [0, 0, 0, 0]
  thr :  13
     candy candido  matched with  chi wai tai
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
camilla horn - [0, 0, 0, 0]
  thr :  13
     camilla horn  matched with  chiharu kataishi
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
gene evans - [0, 0, 0, 0]
  thr :  13
     gene evans  matched with  ching ching yiu
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
gene raymond - [0, 0, 0, 0]
  thr :  13
     gene raymond  matched with  chip heller
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
maría casares - [0, 0, 0, 0]
  thr :  13
     maría casares  matched with  chistorpher gottfried
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
ken russell - [0, 0, 0, 0]
  thr :  13
     ken russell  matched with  choi jung won
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
lew ayres - [0, 0, 0, 0]
  thr :  13
     lew ayres  matched with  choi mei yau
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
leonid kinskey - [0, 0, 0, 0]
  thr :  13
     leonid kinskey  matched with  chris barfoot
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
leo penn - [0, 0, 0, 0]
  thr :  13
     leo penn  matched with  chris cavallaro
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
laura la plante - [0, 0, 0, 0]
  thr :  13
     laura la plante  matched with  chris cortesi
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
lash larue - [0, 0, 0, 0]
  thr :  13
     lash larue  matched with  chris howorth
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
larry linville - [0, 0, 0, 0]
  thr :  13
     larry linville  matched with  chris j johnson
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
klári tolnay - [0, 0, 0, 0]
  thr :  13
     klári tolnay  matched with  chris riquinha
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
kathryn joosten - [0, 0, 0, 0]
  thr :  13
     kathryn joosten  matched with  chris sabat
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
glenn quinn - [0, 0, 0, 0]
  thr :  13
     glenn quinn  matched with  chris shiflett
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
juzo itami - [0, 0, 0, 0]
  thr :  13
     juzo itami  matched with  chris white
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
juliet prowse - [0, 0, 0, 0]
  thr :  13
     juliet prowse  matched with  chrissy mazzeo
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
julie london - [0, 0, 0, 0]
  thr :  13
     julie london  matched with  christa martin
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jules dassin - [0, 0, 0, 0]
  thr :  13
     jules dassin  matched with  christian anders
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jozef kroner - [0, 0, 0, 0]
  thr :  13
     jozef kroner  matched with  christian bradley
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
joyce compton - [0, 0, 0, 0]
  thr :  13
     joyce compton  matched with  christina haack
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
joseph maher - [0, 0, 0, 0]
  thr :  13
     joseph maher  matched with  christina kew
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
liane haid - [0, 0, 0, 0]
  thr :  13
     liane haid  matched with  christine norden
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
linda lovelace - [0, 0, 0, 0]
  thr :  13
     linda lovelace  matched with  christine willes
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
lloyd bridges - [0, 0, 0, 0]
  thr :  13
     lloyd bridges  matched with  christopher beiring
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
logan ramsey - [0, 0, 0, 0]
  thr :  13
     logan ramsey  matched with  christopher crabb
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
mary millar - [0, 0, 0, 0]
  thr :  13
     mary millar  matched with  christopher de padua
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
mary jane croft - [0, 0, 0, 0]
  thr :  13
     mary jane croft  matched with  christopher ford
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
mary frann - [0, 0, 0, 0]
  thr :  13
     mary frann  matched with  christopher hatherall
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
450  subjects out of  500
marta eggerth - [0, 0, 0, 0]
  thr :  13
     marta eggerth  matched with  christopher lloyd dennis
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
mark lenard - [0, 0, 0, 0]
  thr :  13
     mark lenard  matched with  christopher matthews
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
marjorie reynolds - [0, 0, 0, 0]
  thr :  13
     marjorie reynolds  matched with  christopher thompson
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
mario monicelli - [0, 0, 0, 0]
  thr :  13
     mario monicelli  matched with  christopher uckermann
     [0, 0, 0, 0]  ~  [0, 1, 0, 0]
margaux hemingway - [0, 0, 0, 0]
  thr :  13
     margaux hemingway  matched with  christopher ward
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
marcello mastroianni - [0, 0, 0, 0]
  thr :  13
     marcello mastroianni  matched with  chun cho
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
majel barrett - [0, 0, 0, 0]
  thr :  13
     majel barrett  matched with  chung woo sung
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
maila nurmi - [0, 0, 0, 0]
  thr :  13
     maila nurmi  matched with  church of misery
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
mae questel - [0, 0, 0, 0]
  thr :  13
     mae questel  matched with  cindy carol
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
lorenzo music - [0, 0, 0, 0]
  thr :  13
     lorenzo music  matched with  circle jerks
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
lolo ferrari - [0, 0, 0, 0]
  thr :  13

     lolo ferrari  matched with  claire borotra
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
lois maxwell - [0, 0, 0, 0]
  thr :  13
     lois maxwell  matched with  claire de lorez
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jorge russek - [0, 0, 0, 0]
  thr :  13
     jorge russek  matched with  clark smith
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jon pertwee - [0, 0, 0, 0]
  thr :  13
     jon pertwee  matched with  claudia abbate
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
john hughes - [0, 0, 0, 0]
  thr :  13
     john hughes  matched with  claudine wilde
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jack nance - [0, 0, 0, 0]
  thr :  13
     jack nance  matched with  claudio garcia satur
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jack lord - [0, 0, 0, 0]
  thr :  13
     jack lord  matched with  clay marzo
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jack cardiff - [0, 0, 0, 0]
  thr :  13
     jack cardiff  matched with  clayton taylor
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
irene hervey - [0, 0, 0, 0]
  thr :  13
     irene hervey  matched with  cleo moore
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
ingmar bergman - [0, 0, 0, 0]
  thr :  13
     ingmar bergman  matched with  clifford irving
     [0, 0, 0, 0]  ~  [1, 1, 0, 0]
hurd hatfield - [0, 0, 0, 0]
  thr :  13
     hurd hatfield  matched with  clifton david
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
howard vernon - [0, 0, 0, 0]
  thr :  13
     howard vernon  matched with  cole spainhour
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
howard rollins - [0, 0, 0, 0]
  thr :  13
     howard rollins  matched with  colin clemens
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
howard morton - [0, 0, 0, 0]
  thr :  13
     howard morton  matched with  colin mccredie
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
hiroshi tsuburaya - [0, 0, 0, 0]
  thr :  13
     hiroshi tsuburaya  matched with  colleen patrick-goudreau
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
hildegard knef - [0, 0, 0, 0]
  thr :  13
     hildegard knef  matched with  colleen rennison
     [0, 0, 0, 0]  ~  [1, 0, 0, 1]
hilary minster - [0, 0, 0, 0]
  thr :  13
     hilary minster  matched with  colleen tin
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
herb edelman - [0, 0, 0, 0]
  thr :  13
     herb edelman  matched with  commodore ronald w warwick
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
helen vinson - [0, 0, 0, 0]
  thr :  13
     helen vinson  matched with  connie francis
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
heinz schubert - [0, 0, 0, 0]
  thr :  13
     heinz schubert  matched with  connie smith
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
greg morris - [0, 0, 0, 0]
  thr :  13
     greg morris  matched with  corbin blue
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jack may - [0, 0, 0, 0]
  thr :  13
     jack may  matched with  corey dunn
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jack watson - [0, 0, 0, 0]
  thr :  13
     jack watson  matched with  corey stoll
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
john derek - [0, 0, 0, 0]
  thr :  13
     john derek  matched with  corliss palmer
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jack weston - [0, 0, 0, 0]
  thr :  13
     jack weston  matched with  cornelia sharpe
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
john beradino - [0, 0, 0, 0]
  thr :  13
     john beradino  matched with  corrado olmi
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
john beal - [0, 0, 0, 0]
  thr :  13
     john beal  matched with  cory pearson
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
johannes heesters - [0, 0, 0, 0]
  thr :  13
     johannes heesters  matched with  craig storrod
     [0, 0, 0, 0]  ~  [0, 1, 0, 0]
joanne dru - [0, 0, 0, 0]
  thr :  13
     joanne dru  matched with  crosby stills & nash
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
joan hickson - [0, 0, 0, 0]
  thr :  13
     joan hickson  matched with  cru ennis
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jo van fleet - [0, 0, 0, 0]
  thr :  13
     jo van fleet  matched with  crystal chiu
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jesse white - [0, 0, 0, 0]
  thr :  13
     jesse white  matched with  crystal huau
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jerold wells - [0, 0, 0, 0]
  thr :  13
     jerold wells  matched with  cui zhongsan
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jean vander pyl - [0, 0, 0, 0]
  thr :  13
     jean vander pyl  matched with  curious george rides a bike & lots more monkeying
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jean muir - [0, 0, 0, 0]
  thr :  13
     jean muir  matched with  curt burbick
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jean marais - [0, 0, 0, 0]
  thr :  13
     jean marais  matched with  curt ramm
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jason bernard - [0, 0, 0, 0]
  thr :  13
     jason bernard  matched with  curtis foster
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
jane greer - [0, 0, 0, 0]
  thr :  13
     jane greer  matched with  curtis woodman
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
james stewart - [0, 0, 0, 0]
  thr :  13
     james stewart  matched with  cynthis belliveau
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
james cossins - [0, 0, 0, 0]
  thr :  13
     james cossins  matched with  d dakota denetsosie
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
500  subjects out of  500
zohra sehgal - [0, 0, 0, 0]
  thr :  13
     zohra sehgal  matched with  dado jehan
     [0, 0, 0, 0]  ~  [2, 1, 0, 0]
DONE

# Results

In [27]:
res = pd.DataFrame()

res['sbj'] = sbj_list
res['sbj_feats'] = sbj_feat_list
res['death date'] = sbj_death_list
res['ctl_feats'] = ctl_feat_list
res['ctl'] = ctl_list

res.head()

,sbj,sbj_feats,death date,ctl_feats,ctl
0,mickey rooney,"[149, 156, 236, 181]",2014-04-06,"[158, 201, 257, 241]",liev schreiber
1,james garner,"[151, 178, 169, 196]",2014-07-19,"[144, 155, 144, 208]",laurence fishburne
2,eli wallach,"[120, 138, 114, 148]",2014-06-24,"[94, 102, 120, 138]",ben miles
3,philip seymour hoffman,"[119, 106, 68, 77]",2014-02-02,"[100, 95, 43, 54]",cheech marin
4,karen black,"[74, 111, 121, 39]",2013-08-08,"[91, 98, 72, 76]",albert brooks

In [ ]:
# TODO - REMOVE
'''
ctrl_features = pd.DataFrame(ctrl_list, columns=['ctrl_name'])
ctrl_features['ctrl_reviews'] = count_list

res = pd.concat([ctrl_features.reset_index(), sorted_subjects.reset_index()], axis=1)\
            .drop('index', axis=1)
res['error'] = np.abs(res['ctrl_reviews'] - res['reviews'])/(2*(1+res['ctrl_reviews'] + res['reviews']))

res.sort_values(by='error', ascending=False).head()
'''

In [ ]:
# TODO - REMOVE
#ctrl_features.hist(column='ctrl_reviews', figsize=[10,10], bins=100)

In [ ]:
# TODO - REMOVE
#subjects_feats.hist(column='reviews', figsize=[10,10], bins=100)

# Export results

In [31]:
subjects_nb = str(res.shape[0]-1)

In [32]:
subjects_actors.to_csv('reviews_subjects_'+subjectsnb+'_vectormatched.csv', index=False)
controls_actors.to_csv('reviews_controls_'+subjectsnb+'_vectormatched.csv', index=False)