In [1]:
#essential imports
import pandas as pd
import numpy as np

import datetime as dt
import time

# Strict JSON conversion
import json 
import gzip 
 
startyear=1990
startmonth=1

cps = 4
# how many month before the death of the artist are used as feature 
nbMonthBeforeDeath = 4

datapath = 'DATA/review_filtered/'
f_sbj_reviews = datapath+'movie_reviews_matched_'+str(cps)+'cps.csv'
f_ctl_reviews = datapath+'movie_reviews_matched_'+str(cps)+'cps_ctrls.csv'

# Load data

reviews related to subject (=dead) artists

In [2]:
sbj_reviews = pd.read_csv(f_sbj_reviews).drop('Unnamed: 0',axis=1)
sbj_reviews = sbj_reviews.rename(columns={'reviewTime' : 'strReviewTime', 'actor name' : 'artist name', 
                                          'musician name' : 'artist name', 'name' : 'artist name'})
sbj_reviews.head(3)

,index,asin,strReviewTime,overall,helpful,summary,reviewText,actor name,death date
0,308659,0792840461,2006-04-07,4.0,"[1, 3]",The orginal,The Original and the best-not much to say read...,jack weston,1996-05-03
1,308660,0792840461,2013-03-24,5.0,"[0, 0]",Steve McQueen invented cool,This was a great movie Steve McQueen invented ...,jack weston,1996-05-03
2,308661,0792840461,2014-04-05,4.0,"[1, 1]",Where The Dough Is,"Everybody knows banks, whether in storefronts,...",jack weston,1996-05-03

reviews related to control (=dead) artists

In [3]:
ctl_reviews = pd.read_csv(f_ctl_reviews).drop('Unnamed: 0',axis=1)
ctl_reviews = ctl_reviews.rename(columns={'reviewTime' : 'strReviewTime', 'actor name' : 'artist name', 
                                          'musician name' : 'artist name', 'name' : 'artist name'}})
ctl_reviews.head(3)

,index,asin,strReviewTime,overall,helpful,summary,reviewText,actor name
0,827321,630327417X,2009-10-15,5.0,"[0, 1]",Great Movie,Nothing bad to say. Dvd came quickly and in gr...,michael hynson
1,827322,630327417X,2000-09-16,5.0,"[0, 0]",endless summer,its just to good for words!,michael hynson
2,827323,630327417X,2005-03-03,1.0,"[5, 58]",A very disappointed lover of documentaries,I feel obligated to warn you-as I wish I was w...,michael hynson

# Pre-process data 

- transform string dates into formats that are easier for us to work with
- keep on the side the 'death date' <-> 'artist name relation

Convert dates to year and extract and set aside actor<-> deathdates

In [5]:
# returns as an int the month of the date passed as argument. Apply to a serie !
def strdateToMonth(date) : 
    year = int(str(date)[:4])
    month = int(str(date)[5:7])
    assert(month <= 12 and month >= 1)
    return (month - startmonth) + (year - startyear)*12 

# returns as an int the year of the date passed as argument. Apply to a serie !
def strdateToYear(date) : 
    return int(str(date)[:4])

# SUBJECTS
sbj_reviews['reviewMonth'] = sbj_reviews['strReviewTime'].apply(strdateToMonth)
sbj_reviews['reviewYear'] = sbj_reviews['strReviewTime'].apply(strdateToYear)
sbj_reviews['reviewTime'] = pd.to_datetime(sbj_reviews['strReviewTime'])
sbj_reviews['death month'] = sbj_reviews['death date'].apply(strdateToMonth)
sbj_reviews['death year'] = sbj_reviews['death date'].apply(strdateToYear)
sbj_reviews['death date'] = pd.to_datetime(sbj_reviews['death date'])

# CONTROLS
ctl_reviews['reviewMonth'] = ctl_reviews['strReviewTime'].apply(strdateToMonth)
ctl_reviews['reviewYear'] = ctl_reviews['strReviewTime'].apply(strdateToYear)
ctl_reviews['reviewTime'] = pd.to_datetime(ctl_reviews['strReviewTime'])

Set aside the 'death date' <-> 'artist name relation

In [6]:
deathdates = subjects_actors.groupby(['actor name','death date', 'death year', 'death month']).count()\
                            .reset_index()[['actor name', 'death date', 'death year', 'death month']]
deathdates.head()

          actor name death date  death year  death month
0  adriana caselotti 1997-01-19        1997           84
1    adrienne shelly 2006-11-01        2006          202
2         al martino 2009-10-13        2009          237
3      alain bashung 2009-03-14        2009          230
4         alan bates 2003-12-27        2003          167

Extract controls names

In [7]:
#TODO : remove
#ctrl_names = list(set(controls_actors['actor name']))\
#sbj_names = list(deathdates['actor name'])

# filtering

### 'mentionned' Boolean

We want to distinguish which artists are frequently mentionned in their reviews; i.e, those that are popular, as opposed to those that just appear to play/sing with some other, more popular artist.
We add the boolean ['mentionned'] that tells if the artist listed with the review is mentionnned in the text of the review.

In [8]:
thresh_pop = 1

def mentionsName(row) : 
    if type(row['reviewText']) is str :
        names = row['actor name'].split(' ')
        text =  row['reviewText'].lower()
        # can mention only name or surname
        #return row['actor name'] in row['reviewText']
        for name in names : 
            if name in text : 
                return True
        return False
    else : return False

In [10]:
## Treat subjects
##
sbj_reviews['mentionned'] = sbj_reviews.apply(mentionsName, axis=1)
sbj_reviews.shape, sbj_reviews[sbj_reviews['mentionned']==True].shape

((597276, 15), (130234, 15))

In [12]:
## Treat controls
##
ctl_reviews['mentionned'] = ctl_reviews.apply(mentionsName, axis=1)
ctl_reviews.shape, ctl_reviews[controls_actors['mentionned']==True].shape

((285071, 12), (42178, 12))

Not necessarily important for later : the list of the most-mentionned subjects and controls

In [ ]:
## Not necessarily needed, count of mentions are still in the reviews dataframe
##
sbj_popular = sbj_reviews[sbj_reviews['mentionned']==True]
sbj_popular = sbj_popular.groupby('actor name').count()['asin']
print(len(sbj_names), " reduced to", sbj_popular.shape)
sbj_popular.sort_values(ascending=False)[:5]

In [13]:
## Not necessarily needed, count of mentions are still in the reviews dataframe
##
ctl_popular = ctl_reviews[ctl_reviews['mentionned']==True]
ctl_popular = ctl_popular.groupby('actor name').count()['asin']
print(len(ctrl_names), " reduced to", ctl_popular.shape)
ctl_popular.sort_values(ascending=False)[:5]

2419  reduced to (1215,)

actor name
matt damon            6017
steve martin          3266
tyler perry           2870
ian anderson          1213
laurence fishburne    1198
liev schreiber        1060
michelle williams     1058
marc m                 896
maggie gyllenhaal      867
robert taylor          749
Name: asin, dtype: int64

### Date filtering

We're only interested in the reviews of subjects that died in a recent time period because amazon's popularity is recent, so we'll have much more amazon data after year 2000. Therefore, we will only keep the reviews for which the subject died within a 2003-2014 time period, otherwise, the artist died too long ago.

TODO : RE-CHECK THIS, THIS WAS 1996-2013 ORIGINALLY
TODO : the filtered variable was bound to 'subjects in time' and not reused later on

In [14]:
start_year = 2003
end_year = 2014

print('original size : ', sbj_reviews.shape)
sbj_reviews = sbj_reviews[(sbj_reviews['death year']>=start) \
                        & (sbj_reviews['death year']<=end)]
print('filtered size : ', sbj_reviews.shape)
sbj_reviews.head(3)

original size :  (597276, 15)
filtered size :  (597276, 15)

,index,asin,strReviewTime,overall,helpful,summary,reviewText,actor name,death date,reviewMonth,reviewYear,reviewTime,death month,death year,mentionned
0,308659,0792840461,2006-04-07,4.0,"[1, 3]",The orginal,The Original and the best-not much to say read...,jack weston,1996-05-03,195,2006,2006-04-07,76,1996,False
1,308660,0792840461,2013-03-24,5.0,"[0, 0]",Steve McQueen invented cool,This was a great movie Steve McQueen invented ...,jack weston,1996-05-03,278,2013,2013-03-24,76,1996,False
2,308661,0792840461,2014-04-05,4.0,"[1, 1]",Where The Dough Is,"Everybody knows banks, whether in storefronts,...",jack weston,1996-05-03,291,2014,2014-04-05,76,1996,False

# Extract features used to match controls with subjects

We will use as features the number of review per month for a 4 months before the death of the subject. We obtain a features vector that we will try to match best between control and subjects.

Since the controls didn't die however, and since the amount of amazon reviews is generated increasingly fast as time passses, we will this feature for every control, for every subject we try to match it to, using the subject's death date as reference point and using the control's number of reviews one month before, two months before, and so on.

In [15]:
# relative count of months before death (-1, -2, ...)
relMonthBeforeDeath = [-i for i in range(1, nbMonthBeforeDeath+1)]
# string matching the feature's column in the subject's dataframe
relFeaturesStr = { i : 'revs'+str(i) for i in relMonthBeforeDeath}

In [16]:
# SUBJECTS COUNTS BY MONTH
sbj_reviews_monthly = sbj_reviews.groupby(['actor name','reviewMonth']).count()


''' returns the number of reviews for the subject in row, 'relMonthNb' months before his death month
'''
def getreview_month_subjects(row, relMonthNb) : 
    actor = row['actor name']
    deathMonth = int(row['death month'])
    try : 
        val = sbj_reviews_monthly.loc[actor, int(deathMonth+relMonthNb)]['asin']
        return int(val)
    ## Both exceptions can happen when the indexing keys are 
    ## not in the index == when there were no review for the actor at the given month
    except TypeError :
        #print('key (', actor, ', '+str(deathMonth+monthNb)+') returned typeError')
        return 0
    except KeyError :
        #print('key (', actor, ', ', deathMonth, ') found no match in the index')
        return 0
    

    
sbj_monthly_feats = pd.DataFrame(deathdates[['actor name', 'death month']])
for i in relMonthBeforeDeath :
    sbj_monthly_feats[relFeaturesStr[i]] = sbj_monthly_feats\
                                    .apply(lambda row : getreview_month_subjects(row, i), axis=1)

## Compute the norm of the feature
##
def feature_norm(row) : 
    feature = [row[relFeaturesStr[i]] for i in relMonthBeforeDeath]
    return np.linalg.norm(feature)

sbj_monthly_feats['featureNorm'] = sbj_monthly_feats.apply(feature_norm, axis=1)
sbj_monthly_feats['death date'] = deathdates['death date']
        
sbj_monthly_feats.sort_values(by='featureNorm', ascending=False).head()

,actor name,death month,revs-1,revs-2,revs-3,revs-4,featureNorm,death date
357,mickey rooney,291,149,156,236,181,367.415296,2014-04-06
228,james garner,294,151,178,169,196,348.513988,2014-07-19
140,eli wallach,293,120,138,114,148,261.426854,2014-06-24
389,philip seymour hoffman,289,119,106,68,77,189.604852,2014-02-02
288,karen black,283,74,111,121,39,184.279679,2013-08-08

In [17]:
# SUBJECTS COUNTS BY YEAR
subjects_revs = subjects_actors.groupby(['actor name','reviewYear']).count()


def getreview(actor, year) : 
    try : 
        val = subjects_revs.loc[actor, year]['asin']
        return val
    except TypeError :
        return 0
    
    

# FILTER TO GET THE DEATH YEAR COUNT - 1
subjects_feats = deathdates[1:].apply(lambda row : getreview(row['actor name'], int(row['death year'])-1), axis=1)
subjects_feats = pd.DataFrame(subjects_feats, columns=['reviews'])
subjects_feats['actor name'] = deathdates['actor name']
subjects_feats['death year'] = deathdates['death year']
subjects_feats['death date'] = deathdates['death date']

subjects_feats.sort_values(by='reviews', ascending=False).head()

     reviews              actor name  death year death date
228     2054            james garner        2014 2014-07-19
389     1550  philip seymour hoffman        2014 2014-02-02
357     1425           mickey rooney        2014 2014-04-06
140     1112             eli wallach        2014 2014-06-24
51      1057             bob hoskins        2014 2014-04-29

Extract features for controls (?)

In [18]:
controls_revs = controls_actors.groupby(['actor name','reviewMonth'])\
                                .count()['asin']\
                                .to_frame().reset_index()

In [19]:
controls_revs.sort_values(by=['actor name', 'asin'], ascending=False).head()

           actor name  reviewMonth  asin
49759  zuzana parmova          143     1
49760  zuzana parmova          168     1
49743    zuhal gencer          185     2
49740    zuhal gencer          180     1
49741    zuhal gencer          182     1

# Matching

Prepare the control's dataframe for matching, and create a function that computes the features for subjects

In [20]:
# copy back above
def getreview_month_controls(row, monthNb, musiciansDataframe, deathMonth=None) : 
    actor = row['actor name']
    if deathMonth==None : 
        deathMonth = int(row['death month'])
    try : 
        val = musiciansDataframe.loc[actor, int(deathMonth+monthNb)]['asin']
        return int(val)
    ## Both exceptions can happen when the indexing keys are 
    ## not in the index == when there were no review for the actor at the given month
    except TypeError :
        #print('key (', actor, ', '+str(deathMonth+monthNb)+') returned typeError')
        return 0
    except KeyError :
        #print('key (', actor, ', ', deathMonth, ') found no match in the index')
        return 0

In [21]:
subjects_monthly_feats.head()
controls_revs.set_index(['actor name','reviewMonth']).loc['adrian holmes']
controls_revs.groupby('actor name').count().reset_index().head()

               actor name  reviewMonth  asin
0           aaron chayrez            1     1
1              aaron kwok           60    60
2            aarti chopra            2     2
3  abdul salaam el razzac            5     5
4              adam clark           19    19

In [22]:
def unwrap(subjectStuff) : 
    return subjectStuff.tolist()[0]

def match(actorname, threshold, ctrl_revs) : 

    # extract the useful features for the subject 
    sbj_actor = subjects_monthly_feats[subjects_monthly_feats['actor name'] == actorname]
    deathmonth = int(sbj_actor['death month'])
    sbjname = unwrap(sbj_actor['actor name'])
    feature = [unwrap(sbj_actor[relFeaturesStr[i]]) for i in relMonthBeforeDeath]
    
    #print(sbj_actor)
    #print('feature : ', feature)
    
    for control in ctrl_revs.groupby('actor name').count().reset_index().iterrows() : 
        
        # iterrows returns tuple (0, row)
        idx = control[0]
        control = control[1]
        
        #if idx % 100 == 0 : 
        #    print('    iterated over ', idx, 'controls (out of ', 
        #          ctrl_revs.groupby('actor name').count().reset_index().shape[0], ')')
        
        # Compute feature
        ctrl_feature = [getreview_month_controls(control, i, 
                                        ctrl_revs.set_index(['actor name', 'reviewMonth']), 
                                        deathMonth=deathmonth) \
                        for i in relMonthBeforeDeath]
        
        #print('   ctrl_feature : ', ctrl_feature )
        
        diff = np.linalg.norm(np.array(feature) - np.array(ctrl_feature))
        
        #print('    diff : ', diff)
        
        if diff <= threshold : 
            matched_name = control['actor name']
            matched_count = ctrl_feature
            
            #ctrl_revs = ctrl_revs[ctrl_revs['actor name'].isin([matched_name])==False]
            ctrl_revs = ctrl_revs[ctrl_revs['actor name']!=matched_name]
            
            print('    ', sbjname, ' matched with ', matched_name)
            print('    ', feature, ' ~ ' , ctrl_feature)
            return matched_name, ctrl_feature, ctrl_revs
    
    print('1 iteration completed over all controls')
    return 0, 0, ctrl_revs

In [ ]:
ctrl_revs = controls_revs.copy()
print(len(ctrl_names), len(sbj_names))

thresh = 10
ctrl_revs = controls_revs.copy()
sorted_subjects = subjects_monthly_feats.sort_values(by='featureNorm', ascending=False)

sbj_list = []
sbj_feat_list = []
sbj_death_list = []
ctl_list = []
ctl_feat_list = []

for idx, subject_name in enumerate(sorted_subjects['actor name']):
    
    if idx%50 == 0: 
        print(idx, " subjects out of ", len(subjects_feats['actor name']))
    
    # extract the feature for the subject and use it to set the threshold
    sbj_actor = sorted_subjects[sorted_subjects['actor name'] == subject_name]
    feature = [unwrap(sbj_actor[relFeaturesStr[i]]) for i in relMonthBeforeDeath]
    
    sbjname = unwrap(sbj_actor['actor name'])
    print(sbjname, '-', feature)
    
    featureNorm = sbj_actor['featureNorm']
    thr = int(8 + 0.12*featureNorm)
    mtch = 0

    while mtch == 0:
        
        thr += int(0.3*thr + 1)
        print('  thr : ', thr)
        
        if thr > 50 and thr < 60  : 
            print(subject_name+' reached threshold ', thr)
        if thr > 1000 and thr < 1250  : 
            print(subject_name+' reached threshold ', thr)
        
        name, ctrl_feature, ctrl_revs_ = match(subject_name,thr,ctrl_revs)
        ctrl_revs = ctrl_revs_.sample(frac=1) 
        
        
        if name != 0:
            
            #print(subject_name+' matched with '+name)
            
            sbjDeathDate = unwrap(sbj_actor['death date'])
            
            sbj_list.append(sbjname)
            sbj_feat_list.append(feature)
            sbj_death_list.append(sbjDeathDate)
            ctl_list.append(name)
            ctl_feat_list.append(ctrl_feature)
            
            mtch += 1
            
print('DONE')

2419 501
0  subjects out of  500
mickey rooney - [149, 156, 236, 181]
  thr :  79
     mickey rooney  matched with  liev schreiber
     [149, 156, 236, 181]  ~  [158, 201, 257, 241]
james garner - [151, 178, 169, 196]
  thr :  74
     james garner  matched with  laurence fishburne
     [151, 178, 169, 196]  ~  [144, 155, 144, 208]
eli wallach - [120, 138, 114, 148]
  thr :  59
eli wallach reached threshold  59
     eli wallach  matched with  ben miles
     [120, 138, 114, 148]  ~  [94, 102, 120, 138]
philip seymour hoffman - [119, 106, 68, 77]
  thr :  46
     philip seymour hoffman  matched with  cheech marin
     [119, 106, 68, 77]  ~  [100, 95, 43, 54]
karen black - [74, 111, 121, 39]
  thr :  46
1 iteration completed over all controls
  thr :  70
     karen black  matched with  albert brooks
     [74, 111, 121, 39]  ~  [91, 98, 72, 76]
bob hoskins - [97, 88, 95, 87]
  thr :  46
     bob hoskins  matched with  maggie gyllenhaal
     [97, 88, 95, 87]  ~  [90, 71, 90, 50]
julie harris - [101, 69, 72, 53]
  thr :  40
     julie harris  matched with  bob denver
     [101, 69, 72, 53]  ~  [95, 63, 81, 75]
paul walker - [46, 51, 68, 104]
  thr :  38
     paul walker  matched with  megan charpentier
     [46, 51, 68, 104]  ~  [19, 39, 63, 83]
eileen brennan - [73, 78, 53, 76]
  thr :  37
     eileen brennan  matched with  emily watson
     [73, 78, 53, 76]  ~  [68, 89, 84, 92]
james gandolfini - [68, 58, 72, 80]
  thr :  37
     james gandolfini  matched with  james macarthur
     [68, 58, 72, 80]  ~  [54, 48, 64, 57]
martha hyer - [59, 55, 68, 71]
  thr :  35
     martha hyer  matched with  billy west
     [59, 55, 68, 71]  ~  [38, 45, 48, 82]
shirley temple - [100, 58, 29, 37]
  thr :  34
     shirley temple  matched with  catherine dent
     [100, 58, 29, 37]  ~  [119, 50, 33, 61]
jean stapleton - [57, 62, 73, 51]
  thr :  34
     jean stapleton  matched with  chloe grace moretz
     [57, 62, 73, 51]  ~  [63, 87, 93, 55]
harold ramis - [63, 60, 39, 48]
  thr :  31
     harold ramis  matched with  david hewlett
     [63, 60, 39, 48]  ~  [65, 41, 20, 37]
james rebhorn - [47, 67, 60, 27]
  thr :  31
     james rebhorn  matched with  beverly todd
     [47, 67, 60, 27]  ~  [43, 49, 40, 16]
eleanor parker - [62, 42, 48, 50]
  thr :  31
     eleanor parker  matched with  james arness
     [62, 42, 48, 50]  ~  [41, 62, 45, 53]
charlton heston - [48, 59, 38, 36]
  thr :  29
1 iteration completed over all controls
  thr :  44
     charlton heston  matched with  chiwetel ejiofor
     [48, 59, 38, 36]  ~  [45, 41, 15, 12]
sydney pollack - [39, 62, 49, 23]
  thr :  28
1 iteration completed over all controls
  thr :  43
1 iteration completed over all controls
  thr :  65
     sydney pollack  matched with  felicia farr
     [39, 62, 49, 23]  ~  [22, 16, 26, 22]
jason robards - [11, 29, 59, 51]
  thr :  28
1 iteration completed over all controls
  thr :  43
1 iteration completed over all controls
  thr :  65
     jason robards  matched with  matt damon
     [11, 29, 59, 51]  ~  [57, 38, 54, 83]
michael clarke duncan - [10, 71, 41, 10]
  thr :  26
1 iteration completed over all controls
  thr :  40
1 iteration completed over all controls
  thr :  61
     michael clarke duncan  matched with  ian anderson
     [10, 71, 41, 10]  ~  [14, 23, 18, 12]
sid caesar - [67, 42, 15, 18]
  thr :  26
     sid caesar  matched with  frédéric pierrot
     [67, 42, 15, 18]  ~  [63, 51, 26, 1]
dennis farina - [35, 27, 38, 54]
  thr :  26
     dennis farina  matched with  alex hopkins
     [35, 27, 38, 54]  ~  [11, 30, 41, 49]
casey kasem - [32, 36, 38, 39]
  thr :  25
     casey kasem  matched with  brian austin
     [32, 36, 38, 39]  ~  [40, 35, 44, 47]
ernest borgnine - [34, 44, 25, 25]
  thr :  23
1 iteration completed over all controls
  thr :  35
     ernest borgnine  matched with  jeff bennett
     [34, 44, 25, 25]  ~  [16, 19, 18, 26]
patrick mcgoohan - [40, 44, 16, 17]
  thr :  23
1 iteration completed over all controls
  thr :  35
     patrick mcgoohan  matched with  mathieu amalric
     [40, 44, 16, 17]  ~  [15, 50, 4, 5]
paul newman - [28, 34, 30, 24]
  thr :  23
1 iteration completed over all controls
  thr :  35
     paul newman  matched with  dina meyer
     [28, 34, 30, 24]  ~  [22, 25, 10, 10]
ruby dee - [27, 22, 33, 29]
  thr :  22
     ruby dee  matched with  brian krause
     [27, 22, 33, 29]  ~  [23, 24, 31, 37]
charles durning - [41, 27, 19, 19]
  thr :  22
     charles durning  matched with  gérard depardieu
     [41, 27, 19, 19]  ~  [39, 14, 6, 10]
joan fontaine - [24, 35, 16, 31]
  thr :  22
     joan fontaine  matched with  charles drake
     [24, 35, 16, 31]  ~  [17, 24, 13, 16]
patrick swayze - [15, 20, 28, 38]
  thr :  22
     patrick swayze  matched with  michelle williams
     [15, 20, 28, 38]  ~  [9, 12, 16, 23]
don knotts - [18, 19, 40, 21]
  thr :  22
     don knotts  matched with  steve martin
     [18, 19, 40, 21]  ~  [28, 25, 28, 23]
dennis hopper - [14, 22, 34, 26]
  thr :  22
     dennis hopper  matched with  kirk acevedo
     [14, 22, 34, 26]  ~  [17, 27, 18, 20]
maximilian schell - [31, 23, 22, 12]
  thr :  20
     maximilian schell  matched with  andrea anders
     [31, 23, 22, 12]  ~  [26, 13, 6, 13]
david carradine - [16, 17, 34, 20]
  thr :  20
     david carradine  matched with  omar epps
     [16, 17, 34, 20]  ~  [4, 6, 23, 22]
tony curtis - [16, 27, 22, 24]
  thr :  20
     tony curtis  matched with  jennifer cody
     [16, 27, 22, 24]  ~  [9, 14, 15, 21]
leslie nielsen - [35, 20, 11, 12]
  thr :  20
1 iteration completed over all controls
  thr :  31
     leslie nielsen  matched with  clarence nash
     [35, 20, 11, 12]  ~  [9, 6, 3, 9]
cory monteith - [14, 24, 21, 26]
  thr :  20
     cory monteith  matched with  anna lee
     [14, 24, 21, 26]  ~  [11, 20, 21, 11]
peter boyle - [25, 13, 15, 25]
  thr :  19
     peter boyle  matched with  rob schneider
     [25, 13, 15, 25]  ~  [15, 4, 9, 22]
richard griffiths - [22, 26, 20, 9]
  thr :  19
     richard griffiths  matched with  andrea libman
     [22, 26, 20, 9]  ~  [10, 13, 15, 6]
richard harris - [34, 16, 10, 10]
  thr :  19
     richard harris  matched with  don calfa
     [34, 16, 10, 10]  ~  [17, 11, 6, 6]
peter falk - [16, 14, 19, 25]
  thr :  19
     peter falk  matched with  tyler perry
     [16, 14, 19, 25]  ~  [10, 16, 14, 17]
janet leigh - [16, 16, 27, 11]
  thr :  19
     janet leigh  matched with  andy berman
     [16, 16, 27, 11]  ~  [12, 14, 9, 14]
marlon brando - [20, 14, 17, 21]
  thr :  19
     marlon brando  matched with  emmanuelle chriqui
     [20, 14, 17, 21]  ~  [10, 8, 17, 12]
ed lauter - [13, 16, 26, 14]
  thr :  19
     ed lauter  matched with  alisa wilson
     [13, 16, 26, 14]  ~  [7, 7, 11, 12]
james avery - [22, 17, 14, 16]
  thr :  19
     james avery  matched with  alison elliott
     [22, 17, 14, 16]  ~  [10, 11, 11, 18]
karl malden - [20, 19, 11, 18]
  thr :  19
     karl malden  matched with  dick sargent
     [20, 19, 11, 18]  ~  [5, 12, 11, 10]
cliff robertson - [20, 15, 15, 17]
  thr :  19
     cliff robertson  matched with  dong-gun jang
     [20, 15, 15, 17]  ~  [11, 13, 8, 3]
richard farnsworth - [14, 19, 18, 16]
  thr :  19
     richard farnsworth  matched with  chisa yokoyama
     [14, 19, 18, 16]  ~  [5, 13, 13, 10]
george carlin - [5, 18, 22, 17]
  thr :  19
     george carlin  matched with  diane ladd
     [5, 18, 22, 17]  ~  [7, 7, 10, 9]
james coburn - [8, 9, 20, 23]
  thr :  17
     james coburn  matched with  hui lou chen
     [8, 9, 20, 23]  ~  [7, 4, 25, 14]
50  subjects out of  500
john forsythe - [5, 17, 13, 23]
  thr :  17
     john forsythe  matched with  brian marshall
     [5, 17, 13, 23]  ~  [5, 8, 13, 9]
jack warden - [9, 7, 16, 25]
  thr :  17
     jack warden  matched with  bruce weitz
     [9, 7, 16, 25]  ~  [7, 4, 3, 20]
bob clark - [3, 7, 22, 20]
  thr :  17

# Results

In [ ]:
res = pd.DataFrame()

res['sbj'] = sbj_list
res['sbj_feats'] = sbj_feat_list
res['death date'] = sbj_death_list
res['ctl_feats'] = ctl_feat_list
res['ctl'] = ctl_list

res.head()

In [ ]:
ctrl_features = pd.DataFrame(ctrl_list, columns=['ctrl_name'])
ctrl_features['ctrl_reviews'] = count_list

res = pd.concat([ctrl_features.reset_index(), sorted_subjects.reset_index()], axis=1)\
            .drop('index', axis=1)
res['error'] = np.abs(res['ctrl_reviews'] - res['reviews'])/(2*(1+res['ctrl_reviews'] + res['reviews']))

res.sort_values(by='error', ascending=False).head()

In [ ]:
ctrl_features.hist(column='ctrl_reviews', figsize=[10,10], bins=100)

In [ ]:
subjects_feats.hist(column='reviews', figsize=[10,10], bins=100)

# Export results

In [ ]:
subjectsnb = str(len(sbj_names)-1)

In [ ]:
subjects_actors.to_csv('reviews_subjects_.csv', index=False)

In [ ]:
controls_actors.to_csv('reviews_controls_.csv', index=False)

In [ ]:
res.to_csv('DATA/reviews_cs_matched/matchings_'+subjectsnb+'_feature=yearbefore.csv', index=False)