### Pipeline for filtering 'meta_Movies_and_TV.json'

In [4]:
datapath = 'DATA/archives/'
filename = 'meta_Movies_and_TV.json.gz'

features = ['asin', 'title', 'description']

In [129]:
#essential imports
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

# Strict JSON conversion
import json 
import gzip 

#plotting imports
%matplotlib inline
import matplotlib.pyplot as plt

#String matching
import re

# sleep
import time

from IPython.display import clear_output

In [7]:
def gz_to_dataframe(datapath, filename):
    def parse(path): 
        g = gzip.open(path, 'rb') 
        for l in g: 
            yield eval(l) 
    def getDF(path): 
        i = 0 
        df = {} 
        for d in parse(path): 
            df[i] = d 
            i += 1 
        return pd.DataFrame.from_dict(df, orient='index') 
    return getDF(datapath+filename)
    
product_df = gz_to_dataframe(datapath, filename)

In [17]:
product_df[features].shape

(208321, 3)

In [10]:
deaths=pd.read_csv("DATA/deaths.csv")
deaths.head(10)

,Name,Birth Date,Death Date,Description,Actor,Author,Musician
0,Jack Weston,1924,1996-05-03,", american actor",True,False,False
1,John Beradino,1917,1996-05-19,", american baseball player and actor",True,False,False
2,Jon Pertwee,1919,1996-05-20,", british actor",True,False,False
3,Lash LaRue,1917,1996-05-21,", american actor",True,False,False
4,Paul Delph,1957,1996-05-21,", american musician and producer",False,False,True
5,Jacob Druckman,1928,1996-05-24,", american composer",False,False,True
6,Enrique Álvarez Félix,1934,1996-05-24,", mexican actor",True,False,False
7,Joseph Mitchell (writer)|Joseph Mitchell,1908,1996-05-24,", american writer",False,True,False
8,Bradley Nowell,1968,1996-05-25,", american musician",False,False,True
9,Tamara Toumanova,1919,1996-05-29,", russian dancer and actress",True,False,False

### 1. fetch artists names with amazon API

In [1]:
from amazon.api import AmazonAPI

def get_api_keys():
    f = open("api_creds")
    ar = f.read().split("\n")
    return ar[0], ar[1], ar[2]

AMAZON_ACCESS_KEY, AMAZON_SECRET_KEY, AMAZON_ASSOC_TAG = get_api_keys()

amazon = AmazonAPI(AMAZON_ACCESS_KEY, AMAZON_SECRET_KEY, AMAZON_ASSOC_TAG)

In [109]:
def get_prod(asin) : 
    if not isinstance(asin, str): 
        acc_str = asin[0]
        for e in asin : 
            acc_str += ','+e
        print(acc_str)
        return amazon.lookup(ItemId=acc_str)
    else :
        return amazon.lookup(ItemId=asin)

def get_directors(prod) : 
    return prod.directors

def get_actors(prod) : 
    return prod.actors

def gen_bulk_index(start, end, bulksize=50, includeEnd=False):
    size = end - start + 1
    bulks = [list(range(start+(i*bulksize), start + (i+1)*bulksize)) for i in range(0, int(size/bulksize))]
    if includeEnd : 
        bulks.append(list(range(bulks[len(bulks)-1][bulksize-1], end+1)))
    else : 
        bulks.append(list(range(bulks[len(bulks)-1][bulksize-1], end)))
    return bulks

In [126]:
## API "one-by-one" querying
##

product_df['actors'] = pd.Series(dtype=object)
product_df['directors'] = pd.Series(dtype=object)

for i, prod_row in enumerate(product_df.iterrows()) : 
    if i%100 == 0 : print(int(100 * (i+1) / product_df.shape[0]), "% completed (",i, " rows)", "  -  time : ",time.strftime("%H:%M:%S"))
    prod = get_prod(prod_row[1]['asin'])
    product_df.set_value(i, 'actors', get_actors(prod))
    product_df.set_value(i, 'directors', get_directors(prod))
    time.sleep(1)
    
    if(i>=300):
        break

0 % completed ( 0  rows)   -  time :  20:18:17

/usr/lib/python3.6/site-packages/ipykernel/__main__.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/usr/lib/python3.6/site-packages/ipykernel/__main__.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0 % completed ( 100  rows)   -  time :  20:21:00

KeyboardInterrupt:

In [127]:
## Parameters for bulk item lookup, should be kept between runs
##

bulksize = 10

# used to restart from where we were in case of an error
lastItemLookedUp = 0

In [147]:
print("last item looked up : ", lastItemLookedUp,  "  -  time : ",time.strftime("%H:%M:%S"), "\n\n")

last item looked up :  17835   -  time :  21:16:07

In [ ]:
original_lastItemLookedUp = lastItemLookedUp


for bulk in gen_bulk_index(lastItemLookedUp, product_df.shape[0], bulksize=bulksize) : 
    # display progess
    if ((bulk[0]-(original_lastItemLookedUp)) % 100 == 0) : 
        clear_output()
        print("    ",int(100 * (bulk[0]+1) / product_df.shape[0]), "% completed (",bulk[0], " rows)", "  -  time : ",time.strftime("%H:%M:%S"))
        print("     Last Item Looked up : ", lastItemLookedUp, " / ", product_df.shape[0])
        print("\n\n\n")
    
    # get asins for the bulk
    asins = product_df['asin'][bulk].tolist()
    # fetch products using the bulk_lookup
    prods = get_prod(asins)

    # Then, process each product to add necessary informations in the dataframe
    for i, prod in enumerate(prods) : 
        actors = get_actors(prod)
        product_df.set_value(bulk[i], "actors", actors)
        directors = get_directors(prod)
        product_df.set_value(bulk[i], "directors", directors)
        
    # Save progress
    lastItemLookedUp = bulk[bulksize-1]
        
    # limit query frequency to avoid getting 503'd
    time.sleep(min(bulksize/25, 10))

     11 % completed ( 24935  rows)   -  time :  21:30:55
     Last Item Looked up :  24934  /  208322




6304109318,6304109318,6304111398,6304112688,6304098553,6304111762,6304113439,6304098162,6304111282,6304107188,6304089627
6304107153,6304107153,6304097808,6304100787,6304114605,6304106041,6304114591,6304113013,6304111037,6304111061,6304076517
6304106033,6304106033,6304108966,6304105436,6304108869,6304108842,6304114583,6304107641,6304115229,6304111045,6304113420
6304098561,6304098561,6304115148,6304119011,6304111363,6304118074,6304105967,6304118996,6304123434,630410782X,6304122330
6304118325,6304118325,6304118295,630410894X,6304125453,6304094000,6304102291,6304125259,6304119550,6304108877,6304116594
6304118317,6304118317,6304119003,6304118015,6304118414,630411799X,6304121717,6304111797,630410751X,6304109717,6304123566
6304123523,6304123523,6304124961,6304125445,6304117752,6304127154,6304119089,6304131879,6304124775,6304129599,6304104278
6304109350,6304109350,6304111835,6304094930,6304117825,6304116225,630410605X,6304124414,6304112238,6304124953,6304107218

In [ ]:
product_df.head()