### Forbe.com
> C'est vraiment une belle introduction, bravo Nico!

### Mark Zuckerberg
> Best project ever!! 9.5/10

In [1]:
#essential imports
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

#scraping imports
import requests
from bs4 import BeautifulSoup

#plotting imports
%matplotlib inline
import matplotlib.pyplot as plt

#String matching
import re

#date
import datetime as dt

# Amazon Dataset

Amazon has a lot of categories:

Books, Electronics, Movies and TV, CDs and Vinyl, Clothing (Shoes and Jewelry), Home and Kitchen, Kindle Store, Sports and Outdoors, Cell Phones and Accessorie, Health and Personal Care, Toys and Games, Video Games, Tools and Home Improvement, Beauty, Apps for Android, Office Products, Pet Supplies, Automotive, Grocery and Gourmet Food, Patio (Lawn and Garden), Baby, Digital Music, Musical Instruments, Amazon Instant Video


### For our project the useful categories are:
* Books
* Movies and TV
* CDs and Vinyl
* Kindle Store
* Digital Music
* Amazon Instant Video

#### Potentially useful
* Toy and Games
* Video Games

---
### [Amazon DB](http://jmcauley.ucsd.edu/data/amazon/links.html)

### Authors
* [Books](http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Books_5.json.gz)
* [Kindle Store](http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Kindle_Store_5.json.gz)

### Actors
* [Movies and TV](http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Movies_and_TV_5.json.gz)
* [Amazon Instant Video](http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Amazon_Instant_Video_5.json.gz)

### Musician
* [CDs and Vinyl](http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_CDs_and_Vinyl_5.json.gz)
* [Digital Music](http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Digital_Music_5.json.gz)

---

In [2]:
data_path = 'data/'

In [3]:
#data = pd.read_json(data_path+'Kindle_Store_5.json', lines=True)

In [4]:
#data

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,B000F83SZQ,"[0, 0]",5,I enjoy vintage books and movies so I enjoyed ...,"05 5, 2014",A1F6404F1VG29J,Avidreader,Nice vintage story,1399248000
1,B000F83SZQ,"[2, 2]",4,This book is a reissue of an old one; the auth...,"01 6, 2014",AN0N05A9LIJEQ,critters,Different...,1388966400
2,B000F83SZQ,"[2, 2]",4,This was a fairly interesting read. It had ol...,"04 4, 2014",A795DMNCJILA6,dot,Oldie,1396569600
3,B000F83SZQ,"[1, 1]",5,I'd never read any of the Amy Brewster mysteri...,"02 19, 2014",A1FV0SX13TWVXQ,"Elaine H. Turley ""Montana Songbird""",I really liked it.,1392768000
4,B000F83SZQ,"[0, 1]",4,"If you like period pieces - clothing, lingo, y...","03 19, 2014",A3SPTOKDG7WBLN,Father Dowling Fan,Period Mystery,1395187200
5,B000F83SZQ,"[0, 0]",4,A beautiful in-depth character description mak...,"05 26, 2014",A1RK2OCZDSGC6R,ubavka seirovska,Review,1401062400
6,B000F83SZQ,"[0, 0]",4,I enjoyed this one tho I'm not sure why it's c...,"06 10, 2014",A2HSAKHC3IBRE6,Wolfmist,Nice old fashioned story,1402358400
7,B000F83SZQ,"[1, 1]",4,Never heard of Amy Brewster. But I don't need ...,"03 22, 2014",A3DE6XGZ2EPADS,WPY,Enjoyable reading and reminding the old times,1395446400
8,B000FA64PA,"[0, 0]",5,Darth Maul working under cloak of darkness com...,"10 11, 2013",A1UG4Q4D3OAH3A,dsa,Darth Maul,1381449600
9,B000FA64PA,"[0, 0]",4,This is a short story focused on Darth Maul's ...,"02 13, 2011",AQZH7YTWQPOBE,Enjolras,"Not bad, not exceptional",1297555200
10,B000FA64PA,"[0, 0]",5,I think I have this one in both book and audio...,"01 27, 2014",A1ZT7WV0ZUA0OJ,Mike,Audio and book,1390780800
11,B000FA64PA,"[0, 0]",4,Title has nothing to do with the story. I did...,"09 17, 2011",A2ZFR72PT054YS,monkeyluis,Darth Maul...the brother I never had.,1316217600
12,B000FA64PA,"[0, 0]",3,Well written. Interesting to see Sideous (thro...,"12 31, 2013",A2QK1U70OJ74P,Sharon Deem,Not bad; it is well written,1388448000
13,B000FA64PK,"[0, 0]",3,Troy Denning's novella Recovery was originally...,"03 15, 2012",A3SZMGJMV0G16C,"Andrew Pruette ""Rancors Love to Read""",Han and Leia reunited and Barabel Jedi introduced,1331769600
14,B000FA64PK,"[0, 0]",5,I am not for sure on how much of a difference ...,"05 12, 2013",A3H8PE1UFK04JZ,Caleb Watts,Possibly Important,1368316800
15,B000FA64PK,"[0, 0]",5,I really enjoyed the book. Had the normal back...,"01 2, 2014",A2EN84QHDRZLP2,Carl craft,Another read,1388620800
16,B000FA64PK,"[0, 0]",5,Great read enjoyed every minute of it . I thi...,"10 29, 2013",A1UG4Q4D3OAH3A,dsa,Recovery,1383004800
17,B000FA64PK,"[4, 4]",3,"Another well written eBook by Troy Denning, bu...","04 16, 2009",A38Z3Q6DTDIH9J,"Jimmy J. Shaw ""oldbent1""",Star Wars: The New Jedi Order: Recovery,1239840000
18,B000FA64PK,"[0, 1]",5,This one promises to be another good book. I h...,"01 27, 2014",A1ZT7WV0ZUA0OJ,Mike,my collection,1390780800
19,B000FA64PK,"[0, 0]",4,"I have a version of ""Star by Star"" that does n...","07 20, 2012",A22CW0ZHY3NJH8,Noname,"Not a necessary read, but I liked it",1342742400
20,B000FA64PK,"[0, 0]",5,"Excellent! Very well written story, very excit...","12 31, 2013",A2QK1U70OJ74P,Sharon Deem,Fits right into New Jedi Order timeline,1388448000
21,B000FA64QO,"[0, 0]",2,"With Ylesia, a novella originally published in...","03 15, 2012",A3SZMGJMV0G16C,"Andrew Pruette ""Rancors Love to Read""",Minor New Jedi Order side story,1331769600
22,B000FA64QO,"[0, 0]",5,Great book couldn't put it down. The story ex...,"02 4, 2014",A1UG4Q4D3OAH3A,dsa,Ylesia,1391472000
23,B000FA64QO,"[2, 2]",4,Most of the New Jedi Order books focus on the ...,"05 17, 2011",AQZH7YTWQPOBE,Enjolras,A Thrackan story,1305590400
24,B000FA64QO,"[0, 0]",5,I was hoping to find this one in book form. Th...,"01 27, 2014",A1ZT7WV0ZUA0OJ,Mike,my e- collection,1390780800
25,B000FA64QO,"[0, 0]",3,"The events of ""Ylesia"" take place during ""Dest...","08 7, 2012",A22CW0ZHY3NJH8,Noname,One huge chapter,1344297600
26,B000FBFMVG,"[0, 0]",5,Really shouldn't have Han Solo on the cover as...,"02 15, 2014",A3AZH0OO0GUAI3,Amazon Customer,An interesting short story.,1392422400
27,B000FBFMVG,"[5, 5]",3,Originally published as an e-book coinciding w...,"08 25, 2008",A3SZMGJMV0G16C,"Andrew Pruette ""Rancors Love to Read""",Short story featuring everyone's favorite Wookiee,1219622400
28,B000FBFMVG,"[0, 1]",4,This book was a good idea. I have always wante...,"04 1, 2013",A3H8PE1UFK04JZ,Caleb Watts,Great,1364774400
29,B000FBFMVG,"[0, 0]",5,Great short story. It gives a little more insi...,"01 2, 2014",A2EN84QHDRZLP2,Carl craft,Another read,1388620800
...,...,...,...,...,...,...,...,...,...
982589,B00M0RE7CS,"[1, 2]",5,4.5 StarsAnother great book from these two won...,"07 23, 2014",ALY4MQYVAEE4U,Deb,Loved it!,1406073600
982590,B00M0RE7CS,"[1, 1]",5,There's a lot of stuff in this short &#34;pack...,"07 23, 2014",A1T5CK8KC56JZ9,Jamie Rhodes,Only Problem- Too Short,1406073600
982591,B00M0RE7CS,"[1, 1]",5,I LOVE both of these authors and when they tea...,"07 23, 2014",AFLBHS78OJI2A,Jennifer Alumbaugh,Fantastic READ,1406073600
982592,B00M0RE7CS,"[11, 11]",5,I loved that I honestly really had no clue wha...,"07 22, 2014",AX3TLNYEO40S7,Jennifer Van Wyk,Best Quickie Ever!!,1405987200
982593,B00M0RE7CS,"[9, 9]",5,Mmmmmmmmmmm. How do you sum up the Erotic Quic...,"07 22, 2014",A2LNCH4E0XYIWV,Jill (Love Affair With Fiction),Package this one up with a bow!,1405987200
982594,B00M0RE7CS,"[1, 2]",5,This was such an amazing read. I could not put...,"07 23, 2014",A3JCJ0PRFLNHYP,"Joy Whiteside ""book worm""",WOW,1406073600
982595,B00M0RE7CS,"[5, 5]",5,I was so excited to read this book and it did ...,"07 22, 2014",A1TN76NFCES8TO,KaiSarks,HOT HOT HOT,1405987200
982596,B00M0RE7CS,"[1, 2]",5,WOW! That pretty much sums up how I feel after...,"07 22, 2014",A2OHI4ATBXV0YS,kellbelle,FIVE Left Me Begging for More STARS,1405987200
982597,B00M0RE7CS,"[2, 2]",5,There hasn't been a better combo than SE Hall ...,"07 23, 2014",A7XOAETR7A9HO,mg,Delightfully delicious!,1406073600
982598,B00M0RE7CS,"[1, 1]",5,Loved it. it was full of everything and hot as...,"07 23, 2014",A3RSK54GLJ298Q,M.Nageldinger,HOT!!!,1406073600
982599,B00M0RE7CS,"[1, 2]",5,When I heard these two authors were going to d...,"07 23, 2014",A33W5XNY9X8SSF,Nichole,Warning you might need a cold shower,1406073600
982600,B00M0RE7CS,"[4, 4]",5,***RECIEVED AN ARC FOR AN HONEST REVIEW***Anot...,"07 22, 2014",AB6262UKY7CLA,Reader's Candy,"HOT, HOT, HOT!!",1405987200
982601,B00M0RE7CS,"[7, 7]",5,"So, you see that vague synopsis up above. I a...","07 22, 2014",A3FW06OAUGJ884,Red Cheeks Reads,LOVED SO MUCH!,1405987200
982602,B00M0RE7CS,"[7, 7]",5,5.0 Star ReviewLove this story. Quick read th...,"07 22, 2014",A30L2TBSVJ6X6F,"Renee Entress ""Tell us about yourself!""",Quick read that pulls you in from the first pa...,1405987200
982603,B00M0RE7CS,"[1, 2]",5,6-WELL-DELIVERED STARS!PACKAGED WELL DELIVERED...,"07 22, 2014",A56U46MCHKX76,RizaMG,Great Delivery!,1405987200
982604,B00M0RE7CS,"[1, 1]",5,I was given a ARC in exchange for my honest re...,"07 22, 2014",A2A96H9YA1LG7G,Sammie's Book Blog,Misery loves company.,1405987200
982605,B00M0RE7CS,"[2, 2]",5,I have been so excited for this one since read...,"07 22, 2014",AIRWHELFXVDR3,Sandra,Amazing Quickie!,1405987200
982606,B00M0RE7CS,"[3, 3]",5,You know when you get these two authors togeth...,"07 22, 2014",A2XUMT96R2P5JI,Sophia H,THIS PACKAGED WAS SO WELL DELIVERED!,1405987200
982607,B00M0RE7CS,"[5, 5]",5,Looking for a QUICK super steamy read.. Look n...,"07 22, 2014",AGPSU8WMSWFCZ,TCO,It's gettin' hot in here,1405987200
982608,B00M0RE7CS,"[1, 2]",5,What a perfectly packaged erotic quickie. I m...,"07 23, 2014",A1049Y8KPVOSVB,This Redhead LOVES Books,This Package should be read over and over agai...,1406073600
982609,B00M0RE7CS,"[1, 1]",5,I am so in love with Shaw. This was an awesome...,"07 22, 2014",A1MW856C6F1KXO,tosha,hot and steamy,1405987200
982610,B00M0RE7CS,"[1, 1]",5,It's a simple twist of a book . That ONE that ...,"07 23, 2014",A3PNKLCGVG1P3P,Trey,100% HOT !!!!,1406073600
982611,B00M0RE7CS,"[3, 3]",5,"Whoa! Excuse me while I finish fanning myself,...","07 22, 2014",A2G3DE7EYTVZG9,Whitney McGregor,Sexy and funny... Angela and SE did it AGAIN!,1405987200
982612,B00M13FNSS,"[2, 2]",4,Dre is quite possibly the worst character I h...,"07 23, 2014",A76D0PDO97IIJ,Amazon Customer,Dre is quite possibly the worst character I ha...,1406073600
982613,B00M13FNSS,"[2, 2]",5,This book was amazing. It was definitely worth...,"07 23, 2014",A23VHARP9XPOXI,CamilleJoy712,EVEYTHING definite 5 star read,1406073600
982614,B00M13FNSS,"[2, 2]",5,Yasss hunny! This is a great read. That Dre is...,"07 23, 2014",A2Y66HD4J5S7QZ,Candi,A Hot Read Indeed!!,1406073600
982615,B00M13FNSS,"[0, 0]",5,I ENJOYED THIS BOOK FROM BEGINNING TO END NOW ...,"07 23, 2014",A17YHECC8H9NEY,Margie,VERY GOOD BOOK,1406073600
982616,B00M13FNSS,"[1, 1]",5,Great book! Cherika was a fool. She let that m...,"07 23, 2014",A20KO0BPMNREJL,Nicki,Great Read,1406073600
982617,B00M13FNSS,"[0, 0]",5,When I say this was an excellent book please b...,"07 23, 2014",A1BQO66R6OLCCW,Nikey,Wow!!,1406073600
982618,B00M13FNSS,"[2, 2]",5,This book was everything. I just hope Alexus w...,"07 23, 2014",A2NRGE3CSFY2TQ,Yo,Great read.hands down #5star hit,1406073600

# Scraping Wikipedia

We want to scrap all the musicians, actors and authors' dead on wikipedia. Since we want the most notorious ones, we will scrap from [the page summarizing the year](https://en.wikipedia.org/w/index.php?title=2000#Deaths), and not the specific [page for the deaths](https://en.wikipedia.org/wiki/Deaths_in_2000).

We will iterate for each wanted year page, and scrap the celebrity's name, birth date, description, and death date.

In [5]:
# Function that matchs a line of the wikitext and return an array of tuples: 
# (person_death_date, person_name, person_description, person_birth_date)
# debug = True return the intermediary matching
def matchLine(line, debug=False):
    if debug:
        print(line)
    #match when a line contains only 1 celebrity
    match_1_line = re.match( r'.*\[\[(.*?)\]\] (&ndash;|-|–).*?\[\[(.*?)\]\](.*)\(b\..*\[\[(.*?)\]\]\)', line)
    if match_1_line:
        if debug:
            print(match_1_line)
        return [(match_1_line.group(1),match_1_line.group(3),match_1_line.group(4),match_1_line.group(5))]
    #didn't find a match for 1 celebrity
    else:
        result = []
        #consider it's a line with multiple celebrities dead on the same day, separated by \n**
        s = line.split("\n**")
        #if the split didn't work, we return a matching error:
        if len(s)==1:
            print("No match found for: "+ str(year) +" "+ line)
        #the first split contains only the death date
        match_date = re.match( r'\[\[(.*)\]\]',s[0]).group(1)
        #iterate for each celebrities
        for i in range(1,len(s)):
            match_3_param = re.match( r'.*\[\[(.*?)\]\](.*)\(b\. ?\[\[(.*?)\]\]\)', s[i])
            if debug:
                print(match_3_param)
            #if the match is succesful, add the celebrity to the array
            if match_3_param and match_date:
                result.append((match_date,match_3_param.group(1),match_3_param.group(2),match_3_param.group(3)))
            #otherwise return a matching error
            else:
                print("No match found for: "+ str(year) +" "+ s[i])
        return result

In [6]:
month_list = ['January', 'February', 'March', 'April', 'May', 
              'June', 'July', 'August', 'September', 'October', 'November', 'December']

# Function that return a standardized date in string %year-%month-%day
def computeDate(year, md):
    a = md.split(" ")
    if a[0] in month_list:
        month = month_list.index(a[0])+1
        day = a[1]
        return str(year)+"-"+str(month).zfill(2)+"-"+str(day).zfill(2)
    #return an date error that we couldn't convert
    else:
        print("Date error: "+md+" "+str(year));
        return np.nan

In [7]:
#create an empty dataFrame
columns = ['Death Date', 'Name', 'Description','Birth Date']
df = pd.DataFrame(columns=columns) 

#the year of the interval of the amazon dataset
starting_year = 1996
ending_year = 2014

#every year we scrap the corresponding wikipedia page
for year in range(starting_year,ending_year+1):
    #we retrieve only the wikitext using the parameter action=raw
    #note that the api documentation advise to do this way if we are interested only by the wikitext
    year_url = "https://en.wikipedia.org/w/index.php?action=raw&title={}&maxlag=5".format(year)
    r = requests.get(year_url)
    page_text = r.text
    #we split the text to retrieve only the part about celebrities' deaths
    if("== Deaths ==" in page_text):
        a = page_text.split("== Deaths ==")[1]
    elif("==Deaths==" in page_text):
        a = page_text.split("==Deaths==")[1]
    else:
        a = None
    #we set our starting text at the first month (i.e January)
    if("=== January ===" in page_text):
        a = a.split("=== January ===")[1]
    elif("===January===" in page_text):
        a = a.split("===January===")[1]
    else:
        a = None
    #all the month are separated by \n\n, so we split and iterate over the 12
    deaths = a.split("\n\n")
    for i in range(12):
        #We have 2 case: 1 celebrity per date, or multiple celebrity per date, so we split in consequence,
        #then we match the line into groups using pattern recognition.
        s = deaths[i].split('* ',1)[1]
        lines = s.split("\n* ")
        for line in lines:
            res = matchLine(line)
            for person in res:
                    #when we finished matching, we format the date, then add the celebrity into the dataFrame
                    date = computeDate(year,person[0])
                    df.loc[len(df)]=[date,person[1]," "+person[2].lower(),person[3]]
print(df.shape)
df.head(10)

No match found for: 1996  Victims of [[TWA Flight 800]]
No match found for: 2001  2,996 people (2,977 victims and 19 hijackers) who died in the [[September 11 attacks]]
No match found for: 2013 [[April 30]] (death announced on this date) &ndash; [[Deanna Durbin]], Canadian-born singer and actress (b. [[1921]])
(3313, 4)

,Death Date,Name,Description,Birth Date
0,1996-01-01,Malladihalli Sri Raghavendra Swamiji,", indian yogi",1890
1,1996-01-01,Moshe Aryeh Freund,", israeli rabbi",1894
2,1996-01-01,Arleigh Burke,", american naval officer",1901
3,1996-01-01,Arthur Rudolph,", german rocket engineer",1906
4,1996-01-02,Karl Targownik,", hungarian psychiatrist and holocaust survivor",1915
5,1996-01-05,Yahya Ayyash,", palestinian shaheed",1966
6,1996-01-05,Lincoln Kirstein,", american writer and impresario",1907
7,1996-01-05,Richard Versalle,", american operatic tenor",1932
8,1996-01-07,Prime Minister of Hungary,,1930
9,1996-01-07,Tarō Okamoto,", japanese artist",1911

The matcher has only 3 errors over 3313 matching, which is pretty nice.
Most of those error is just a special change of format in the list, where they listed celebrities inside specific tragedies.
In this case we will add them manually.

In [8]:
#we add only wanted celebrity (singer, actor,...)
#TWA Flight 8000
df.loc[len(df)]=["1996-07-17","Marcel Dadi",", French guitarist".lower(),"1951"]
df.loc[len(df)]=["1996-07-17","David Hogan",", American composer".lower(),"1949"]
#Deanna Durbin
df.loc[len(df)]=["2013-04-30","Deanna Durbin",", Canadian-born singer and actress".lower(),"1921"]

We consider to multi-index on name and birth date.
Then we order them in fuction of their death date.

In [9]:
df2 = df.set_index(['Name', 'Birth Date'])
print("Index is unique: "+str(df.index.is_unique))
df2.sort_values('Death Date',inplace = True)
df2.head()

Index is unique: True

,,Death Date,Description
Name,Birth Date,,
Malladihalli Sri Raghavendra Swamiji,1890,1996-01-01,", indian yogi"
Moshe Aryeh Freund,1894,1996-01-01,", israeli rabbi"
Arleigh Burke,1901,1996-01-01,", american naval officer"
Arthur Rudolph,1906,1996-01-01,", german rocket engineer"
Karl Targownik,1915,1996-01-02,", hungarian psychiatrist and holocaust survivor"

Then we removed the celebrities which died outside of the interval of the Amazon dataset (May 1996 - July 2014).

In [13]:
df2 = df2[(df2['Death Date'] >= '1996-05-01') & (df2['Death Date'] <= '2014-07-31')]
df2.tail(5)

,,Death Date,Description
Name,Birth Date,,
David Easton,1917,2014-07-19,", canadian-american political scientist"
James Garner,1928,2014-07-19,", american actor"
Carlo Bergonzi,1924,2014-07-25,", italian tenor and actor"
Francesco Marchisano,1929,2014-07-27,", italian cardinal"
Julio Grondona,1931,2014-07-30,", argentinian football authority"

Now we want to keep only the celebrities **that are musician, actor or author.**
Since we have a small description of the celebrity, it's trivial that the description will contains his job if the celebrity is famous by his job. 
_Note that some celebrities doesn't have a description, it's the case when their name contains the description: president, prince, king,...etc._

We match a celebrity if he is a musician, actor or author if it contains a specific keyword, for example: _"actor"_.

In [11]:
df3 = df2

#return true if the description contains one of this keywork
jobMusician = ["dj","baritone","bard","pianist","singer","tenor ","soprano", "composer","trumpeter","saxophonist","lyricist", "drummer", "musician", "rapper","guitarist","violinist","violist","bassist"]
def isMusician(s):
    for job in jobMusician:
        if job in s:
            return True
    return False

#return true if the description contains one of this keywork
jobActor = ["actor", "actress","filmmaker","cinematographer","film director", "film producer"]
def isActor(s):
    for job in jobActor:
        if job in s:
            return True
    return False

#return true if the description contains one of this keywork
jobAuthor = ["autor", "author", "writer", "poet", "novelist","cartoonist","comic strip artist","manga artist"]
def isAuthor(s):
    for job in jobAuthor:
        if job in s:
            return True
    return False

#add 3 column to the data frame: Actor, author and Musician. It's possible that someone is both, so they all have those 3 booleans parameters.
df3 = df3.merge(df3.Description.apply(lambda s: pd.Series({'Musician':isMusician(s), 'Actor':isActor(s), 'Author':isAuthor(s)})), 
    left_index=True, right_index=True) 
df_artists = df3[(df3['Actor'] == True) | (df3['Author'] == True) | (df3['Musician'] == True)]
df_artists = df_artists.sort_values('Death Date')

print("Number of celebrities: "+str(df.shape[0]))
print("Number of useful celebrities: "+str(df_artists.shape[0]))
print("Number of unwanted celebrities: "+str(df.shape[0]-df_artists.shape[0]))

#print only the wanted celebrities
df_artists.head(5)

Number of celebrities: 3316
Number of useful celebrities: 1316
Number of unwanted celebrities: 2000

,,Death Date,Description,Actor,Author,Musician
Name,Birth Date,,,,,
Jack Weston,1924,1996-05-03,", american actor",True,False,False
John Beradino,1917,1996-05-19,", american baseball player and actor",True,False,False
Jon Pertwee,1919,1996-05-20,", british actor",True,False,False
Lash LaRue,1917,1996-05-21,", american actor",True,False,False
Paul Delph,1957,1996-05-21,", american musician and producer",False,False,True

Now we want to link a celebrity to all its work.

First let's start with the actors.

In [12]:
df_actors = df_artists[(df_artists['Actor'] == True)]
print(df_actors.shape)
df_actors.head()

(640, 5)

,,Death Date,Description,Actor,Author,Musician
Name,Birth Date,,,,,
Jack Weston,1924,1996-05-03,", american actor",True,False,False
John Beradino,1917,1996-05-19,", american baseball player and actor",True,False,False
Jon Pertwee,1919,1996-05-20,", british actor",True,False,False
Lash LaRue,1917,1996-05-21,", american actor",True,False,False
Enrique Álvarez Félix,1934,1996-05-24,", mexican actor",True,False,False

The idea is to go to the page of the actor, find the section _"Filmography"_ and read the corresponding tables in its subsections.

In [57]:
table = """{| class="wikitable sortable"
|-
! Year
! Title
! Role
! Notes
|-
|1938||''[[A Yank at Oxford]]''||Minor Role||Uncredited
|-
|1939||''[[The Four Just Men (1939 film)|The Four Just Men]]''||Rally campaigner||Uncredited
|-
|rowspan=3|1948||''[[Trouble in the Air]]''||Truelove||
|-
|''[[William Comes to Town]]''||Circus Superintendent||
|-
|''[[A Piece of Cake]]''||Mr. Short||
|-
|rowspan=4|1949||''[[Murder at the Windmill]]''||Detective Sergeant||(as Jon Pertwer)
|-
|''[[Helter Skelter (1949 film)|Helter Skelter]]''||Headwaiter / Charles II||
|-
|''[[Dear Mr. Prohack]]''||Plover||
|-
|''[[Miss Pilgrim's Progress]]''||Postman Perkins||
|-
|1950||''[[The Body Said No!]]''||Watchman||
|-
|1951||''[[Mister Drake's Duck]]''||Reuben||
|-
|1953||''[[Will Any Gentleman...?]]''||Charley Sterling||
|-
|1954||''[[The Gay Dog]]''||A Betting Man||
|-
|1955||''[[A Yank in Ermine]]''||Slowburn Jenks||
|-
|1956||''[[It's a Wonderful World (1956 film)|It's a Wonderful World]]''||Conductor||Uncredited
|-
|1959||''[[The Ugly Duckling (1959 film)|The Ugly Duckling]]''||Victor Jekyll||
|-
|rowspan=2|1960||''[[Just Joe]]''||Prendergast||
|-
|''[[Not a Hope in Hell]]''||Dan||
|-
|1961||''[[Nearly a Nasty Accident]]''||Gen. Birkinshaw||
|-
|1963||''[[Ladies Who Do]]''||Sidney Tait||
|-
|1964||''[[Carry On Cleo]]''||Soothsayer||
|-
|rowspan=3|1965||''How to Undress in Public Without Undue Embarrassment''|| || Uncredited
|-
|''[[I've Gotta Horse]]''||Costumier's assistant||
|-
|''[[You Must Be Joking! (1965 film)|You Must Be Joking!]]''||Storekeeper (Hare Factory)||
|-
|1965||''[[Carry On Cowboy]]''||Sheriff Albert Earp||
|-
|rowspan=3|1966||''[[Carry On Screaming!]]''||Doctor Fettle||
|-
|''[[A Funny Thing Happened on the Way to the Forum (film)|A Funny Thing Happened on the Way to the Forum]]''||Crassus||
|-
|''[[Runaway Railway]]''||Station Master||
|- 
|rowspan=2|1969||''[[Up in the Air (1969 film)|Up in the Air]]''||Figworthy||
|-
|''Under the Table You Must Go''||Himself||Documentary
|-
|1970||''I Understand''||Uncredited||Short
|-
|1971||''[[The House That Dripped Blood]]''||Paul Henderson (segment 4 "The Cloak")||
|-
|1975||''[[One of Our Dinosaurs Is Missing]]''||Colonel||
|-
|rowspan=2|1977||''[[Adventures of a Private Eye]]''||Judd Blake||
|-
|''[[No. 1 of the Secret Service]]''||The Rev. Walter Braithwaite||
|-
|rowspan=2|1978||''[[The Water Babies (film)|The Water Babies]]''||Salmon / Kraken||(voice)
|-
|''[[Wombling Free]]''||Womble||(voice)
|-
|1982||''[[The Boys in Blue]]''||Coastguard||
|-
|1992||''[[Carry On Columbus]]''||Duke of Costa Brava||
|-
|1994||''[[Cloud Cuckoo]]''||Grandfather||Short
|-
|}"""

def WikiTable2DataFrame(table):
    list_of_lists = []

    a= table.split("\n|-")
    categories = a[1]
    categories = categories.split("\n! ")[1:] 
    
    rowString = "rowspan"
    span = 0
    savedIndex = -1;
    savedValue = "";
    
    for i in range(2,len(a)-1):
        b=a[i].split("\n|")[1]
        c= b.split("||")
        if span>0:
            c.insert(savedIndex,savedValue)
            span=span-1     
        for j,s in enumerate(c):
            if rowString in s:
                tab = s.split("|")
                savedIndex = j
                savedValue = tab[1]
                span = int(tab[0].split("=")[1])-1
                c[j]=savedValue
        list_of_lists.append(c)
        
    return pd.DataFrame(list_of_lists, columns=categories)
        
WikiTable2DataFrame(table)

,Year,Title,Role,Notes
0,1938,''[[A Yank at Oxford]]'',Minor Role,Uncredited
1,1939,''[[The Four Just Men (1939 film)|The Four Jus...,Rally campaigner,Uncredited
2,1948,''[[Trouble in the Air]]'',Truelove,
3,1948,''[[William Comes to Town]]'',Circus Superintendent,
4,1948,''[[A Piece of Cake]]'',Mr. Short,
5,1949,''[[Murder at the Windmill]]'',Detective Sergeant,(as Jon Pertwer)
6,1949,''[[Helter Skelter (1949 film)|Helter Skelter]]'',Headwaiter / Charles II,
7,1949,''[[Dear Mr. Prohack]]'',Plover,
8,1949,''[[Miss Pilgrim's Progress]]'',Postman Perkins,
9,1950,''[[The Body Said No!]]'',Watchman,
10,1951,''[[Mister Drake's Duck]]'',Reuben,
11,1953,''[[Will Any Gentleman...?]]'',Charley Sterling,
12,1954,''[[The Gay Dog]]'',A Betting Man,
13,1955,''[[A Yank in Ermine]]'',Slowburn Jenks,
14,1956,''[[It's a Wonderful World (1956 film)|It's a ...,Conductor,Uncredited
15,1959,''[[The Ugly Duckling (1959 film)|The Ugly Duc...,Victor Jekyll,
16,1960,''[[Just Joe]]'',Prendergast,
17,1960,''[[Not a Hope in Hell]]'',Dan,
18,1961,''[[Nearly a Nasty Accident]]'',Gen. Birkinshaw,
19,1963,''[[Ladies Who Do]]'',Sidney Tait,
20,1964,''[[Carry On Cleo]]'',Soothsayer,
21,1965,''How to Undress in Public Without Undue Embar...,,Uncredited
22,1965,''[[I've Gotta Horse]]'',Costumier's assistant,
23,1965,''[[You Must Be Joking! (1965 film)|You Must B...,Storekeeper (Hare Factory),
24,1965,''[[Carry On Cowboy]]'',Sheriff Albert Earp,
25,1966,''[[Carry On Screaming!]]'',Doctor Fettle,
26,1966,''[[A Funny Thing Happened on the Way to the F...,Crassus,
27,1966,''[[Runaway Railway]]'',Station Master,
28,1969,''[[Up in the Air (1969 film)|Up in the Air]]'',Figworthy,
29,1969,''Under the Table You Must Go'',Himself,Documentary
30,1970,''I Understand'',Uncredited,Short
31,1971,''[[The House That Dripped Blood]]'',"Paul Henderson (segment 4 ""The Cloak"")",
32,1975,''[[One of Our Dinosaurs Is Missing]]'',Colonel,
33,1977,''[[Adventures of a Private Eye]]'',Judd Blake,
34,1977,''[[No. 1 of the Secret Service]]'',The Rev. Walter Braithwaite,
35,1978,''[[The Water Babies (film)|The Water Babies]]'',Salmon / Kraken,(voice)
36,1978,''[[Wombling Free]]'',Womble,(voice)
37,1982,''[[The Boys in Blue]]'',Coastguard,
38,1992,''[[Carry On Columbus]]'',Duke of Costa Brava,
39,1994,''[[Cloud Cuckoo]]'',Grandfather,Short

In [64]:
df_actors.head(5)

,,Death Date,Description,Actor,Author,Musician
Name,Birth Date,,,,,
Jack Weston,1924,1996-05-03,", american actor",True,False,False
John Beradino,1917,1996-05-19,", american baseball player and actor",True,False,False
Jon Pertwee,1919,1996-05-20,", british actor",True,False,False
Lash LaRue,1917,1996-05-21,", american actor",True,False,False
Enrique Álvarez Félix,1934,1996-05-24,", mexican actor",True,False,False