In [62]:
import pandas as pd
import numpy as np
import json

# 1. Scrap Site www.topuniversities.com

found the json using postman:

https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508252855868

We want:
    - name 
    - rank
    - country
    - region 
    - number of faculty members (international and total)
    - number of students (international and total)

In [63]:
#json to dataframe using panda
json_data = json.load(open('TopUniRanking.json'))
json_data
name,rank,country,region,url = [],[],[],[],[]
for result in json_data['data']:
    name.append(result[u'title'])
    rank.append(result[u'rank_display'])
    country.append(result[u'country'])
    region.append(result[u'region'])
    url.append(result[u'url'])
df = pd.DataFrame([name,rank,country,region,url],index =['name','rank','country','region','url']).T
df

,name,rank,country,region,url
0,Massachusetts Institute of Technology (MIT),1,United States,North America,/universities/massachusetts-institute-technolo...
1,Stanford University,2,United States,North America,/universities/stanford-university
2,Harvard University,3,United States,North America,/universities/harvard-university
3,California Institute of Technology (Caltech),4,United States,North America,/universities/california-institute-technology-...
4,University of Cambridge,5,United Kingdom,Europe,/universities/university-cambridge
5,University of Oxford,6,United Kingdom,Europe,/universities/university-oxford
6,UCL (University College London),7,United Kingdom,Europe,/universities/ucl-university-college-london
7,Imperial College London,8,United Kingdom,Europe,/universities/imperial-college-london
8,University of Chicago,9,United States,North America,/universities/university-chicago
9,ETH Zurich - Swiss Federal Institute of Techno...,10,Switzerland,Europe,/universities/eth-zurich-swiss-federal-institu...
10,"Nanyang Technological University, Singapore (NTU)",11,Singapore,Asia,/universities/nanyang-technological-university...
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe,/universities/ecole-polytechnique-f%C3%A9d%C3%...
12,Princeton University,13,United States,North America,/universities/princeton-university
13,Cornell University,14,United States,North America,/universities/cornell-university
14,National University of Singapore (NUS),15,Singapore,Asia,/universities/national-university-singapore-nus
15,Yale University,16,United States,North America,/universities/yale-university
16,Johns Hopkins University,17,United States,North America,/universities/johns-hopkins-university
17,Columbia University,18,United States,North America,/universities/columbia-university
18,University of Pennsylvania,19,United States,North America,/universities/university-pennsylvania
19,The Australian National University,20,Australia,Oceania,/universities/australian-national-university
20,Duke University,=21,United States,North America,/universities/duke-university
21,University of Michigan,=21,United States,North America,/universities/university-michigan
22,King's College London,=23,United Kingdom,Europe,/universities/kings-college-london
23,The University of Edinburgh,=23,United Kingdom,Europe,/universities/university-edinburgh
24,Tsinghua University,25,China,Asia,/universities/tsinghua-university
25,The University of Hong Kong,26,Hong Kong,Asia,/universities/university-hong-kong
26,"University of California, Berkeley (UCB)",27,United States,North America,/universities/university-california-berkeley-ucb
27,Northwestern University,=28,United States,North America,/universities/northwestern-university
28,The University of Tokyo,=28,Japan,Asia,/universities/university-tokyo
29,The Hong Kong University of Science and Techno...,30,Hong Kong,Asia,/universities/hong-kong-university-science-tec...
...,...,...,...,...,...
929,University of Belgrade,801-1000,Serbia,Europe,/universities/university-belgrade
930,University of Brawijaya,801-1000,Indonesia,Asia,/universities/university-brawijaya
931,University of Central Lancashire,801-1000,United Kingdom,Europe,/universities/university-central-lancashire
932,University of East London,801-1000,United Kingdom,Europe,/universities/university-east-london
933,University of Engineering & Technology (UET) L...,801-1000,Pakistan,Asia,/universities/university-engineering-technolog...
934,University of Ghana,801-1000,Ghana,Africa,/universities/university-ghana
935,University of Greenwich,801-1000,United Kingdom,Europe,/universities/university-greenwich
936,University of Karachi,801-1000,Pakistan,Asia,/universities/university-karachi
937,The University of Lahore,801-1000,Pakistan,Asia,/universities/university-lahore
938,University of Maribor,801-1000,Slovenia,Europe,/universities/university-maribor
939,University of Mississippi,801-1000,United States,North America,/universities/university-mississippi
940,University of Montana Missoula,801-1000,United States,North America,/universities/university-montana-missoula
941,University of Mumbai,801-1000,India,Asia,/universities/university-mumbai
942,University of Nairobi,801-1000,Kenya,Africa,/universities/university-nairobi
943,University of New England Australia,801-1000,Australia,Oceania,/universities/university-new-england-australia
944,Savitribai Phule Pune University,801-1000,India,Asia,/universities/savitribai-phule-pune-university
945,University of San Diego,801-1000,United States,North America,/universities/university-san-diego
946,University of San Francisco,801-1000,United States,North America,/universities/university-san-francisco
947,University of Santo Tomas,801-1000,Philippines,Asia,/universities/university-santo-tomas
948,University of the Pacific,801-1000,United States,North America,/universities/university-pacific
949,University of the Sunshine Coast,801-1000,Australia,Oceania,/universities/university-sunshine-coast
950,University of the Western Cape,801-1000,South Africa,Africa,/universities/university-western-cape
951,University of Wroclaw,801-1000,Poland,Europe,/universities/university-wroclaw
952,Université de Toulouse II-Le Mirail,801-1000,France,Europe,/universities/universit%C3%A9-de-toulouse-ii-l...
953,Utah State University,801-1000,United States,North America,/universities/utah-state-university
954,Verona University,801-1000,Italy,Europe,/universities/verona-university
955,Voronezh State University,801-1000,Russia,Europe,/universities/voronezh-state-university
956,Vytautas Magnus University,801-1000,Lithuania,Europe,/universities/vytautas-magnus-university
957,Universitatea de Vest din Timisoara / West Un...,801-1000,Romania,Europe,/universities/universitatea-de-vest-din-timiso...
958,Wroclaw University of Technology,801-1000,Poland,Europe,/universities/wroclaw-university-technology

# 2. Scrap Site www.timeshighereducation.com

found the json using postman again:

https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json

We want:
    - name 
    - rank
    - country
    - region 
    - number of faculty members (international and total)
    - number of students (international and total)

In [61]:
#json to dataframe using panda
json_data2 = json.load(open('TimesRanking.json'))
json_data2
names,ranks,countrys,nbr_student_tot,pc_int_student,pc_student_staff = [],[],[],[],[],[]
for result in json_data['data']:
    names.append(result[u'name'])
    ranks.append(result[u'rank'])
    countrys.append(result[u'location'])
    nbr_student_tot.append(result[u'stats_number_students'])
    pc_int_student.append(result[u'38%'])
    pc_student_staff.append(result[u'11.2'])
df2 = pd.DataFrame([names,ranks,countrys,nbr_student_tot,pc_int_student,pc_student_staff],index =['name','rank,country','nbr_student_tot','pc_int_student','pc_student_staff']).T
df2

KeyError: 'name'

# 3. merge stuffs

In [13]:
# 2 dataframe to 1
pass

# 4. Do correlation?

In [14]:
#work
pass

# 5. Best university? (not EPFL)

In [15]:
#harward or stuff
pass