In [16]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

# 1. Scrap Site www.topuniversities.com

found the json using postman:

https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508252855868

We want:
    - name 
    - rank
    - country
    - region 
    - number of faculty members (international and total)
    - number of students (international and total)

In [44]:
#json to dataframe using panda
json_data = json.load(open('TopUniRanking.json'))
df = json_normalize(json_data['data'])
#the university are sorted by ranks, so we just need the 200 first indexes
df_top200 = df.head(200)
#drop useless column information
df_top200 = df_top200.drop(["cc","core_id","logo","guide"],axis=1)
df_top200.head()

,country,nid,rank_display,region,score,stars,title,url
0,United States,294850,1,North America,100,6,Massachusetts Institute of Technology (MIT),/universities/massachusetts-institute-technolo...
1,United States,297282,2,North America,98.7,5,Stanford University,/universities/stanford-university
2,United States,294270,3,North America,98.4,5,Harvard University,/universities/harvard-university
3,United States,294562,4,North America,97.7,5,California Institute of Technology (Caltech),/universities/california-institute-technology-...
4,United Kingdom,294561,5,Europe,95.6,5,University of Cambridge,/universities/university-cambridge

We now have the general data for the 200 first universities. Then we need to scrap data on each unique page of each university to retrieve those 4 informations: 
* number of total faculty members 
* number of international faculty members
* number of total students 
* number of international students

The url of an university is contained in our previous dataFrame. And the pages are written this way:
 **www.topuniversities.com+url**

In [45]:
#todo

# 2. Scrap Site www.timeshighereducation.com

found the json using postman again:

https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json

We want:
    - name 
    - rank
    - country
    - region 
    - number of faculty members (international and total)
    - number of students (international and total)

In [47]:
#json to dataframe using panda
json_data2 = json.load(open('TimesRanking.json'))
df2 = json_normalize(json_data2['data'])
df2.T.index

Index(['aliases', 'location', 'member_level', 'name', 'nid', 'rank',
       'rank_order', 'record_type', 'scores_citations',
       'scores_citations_rank', 'scores_industry_income',
       'scores_industry_income_rank', 'scores_international_outlook',
       'scores_international_outlook_rank', 'scores_overall',
       'scores_overall_rank', 'scores_research', 'scores_research_rank',
       'scores_teaching', 'scores_teaching_rank', 'stats_female_male_ratio',
       'stats_number_students', 'stats_pc_intl_students',
       'stats_student_staff_ratio', 'subjects_offered', 'url'],
      dtype='object')

# 3. merge stuffs

In [13]:
# 2 dataframe to 1
pass

# 4. Do correlation?

In [14]:
#work
pass

# 5. Best university? (not EPFL)

In [15]:
#harward or stuff
pass